{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe Flor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'Raul_Inc/CSS/cafe.css' %}">

    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'Raul/Favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'Raul/Favicons/apple-icon-60x60.png'%}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'Raul/Favicons/apple-icon-72x72.png'%}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'Raul/Favicons/apple-icon-76x76.png'%}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'Raul/Favicons/apple-icon-114x114.png'%}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'Raul/Favicons/apple-icon-120x120.png'%}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'Raul/Favicons/apple-icon-144x144.png'%}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'Raul/Favicons/apple-icon-152x152.png'%}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'Raul/Favicons/apple-icon-180x180.png'%}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'Raul/Favicons/android-icon-192x192.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'Raul/Favicons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'Raul/Favicons/favicon-96x96.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'Raul/Favicons/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'Raul/Favicons/manifest.json'%}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'Raul/Favicons/ms-icon-144x144.png'%}">
    <meta name="theme-color" content="#ffffff">

</head>

<body>
    <div class="sections" >
        <div class="photo">
        </div>
        <div class="heroHeading">
            <div class="cafeLogo">
                <img src= "{%static 'Raul_Inc/Images/cafe.png' %}">
                <div class="menuButton">
                    <button>
                        Order Now
                    </button>
                    <button>
                        <a href = "#scrollHere">See Our Menu</a>
                    </button>
                </div>
            </div>
            
        </div>
    </div>
    <div class="menu" id = "scrollHere">
        <div class="menuHead">
            <h1>
                Menu
            </h1>
            <div class ="menuGrid">
                <div class="menuSections">
                    <div class ="menuItems">
                        <p>____Organic Blend_____</p>
                        <p></p>
                    </div>
                    <div class="menuItems">
                        <p>Hot Coffee ...... 3.00  3.75</p>
                    </div>
                    <div class="menuItems">
                        <p>Decaf Coffee ...... 3.00  3.75</p>
                    </div>
                    <div class="menuItems">
                        <p>Iced Coffee ...... 3.00  3.75</p>
                    </div>
                    <div class="menuItems">
                        <p>Cafe au-lait ...... 3.25  4.00</p>
                    </div>
                </div>
                <div class="menuSections">
                    
                    <div class="menuItems">
                         <p> ____EXPRESSO_BLEND_____</p>
                    </div>
                    <div class="menuItems">
                        <p>Espresso ...... 2.75</p>
                    </div>
                    <div class="menuItems">
                        <p>Americano ...... 3.25</p>
                    </div>
                    <div class="menuItems">
                        <p>Macchiato ...... 3.50</p>
                    </div>
                    <div class="menuItems">
                        <p>Cortado ...... 3.50</p>
                    </div>
                    <div class="menuItems">
                        <p>Cappuccino ...... 4.00</p>
                    </div>
                    <div class="menuItems">
                        <p>Latte ...... 4.00</p>
                    </div>
                    <div class="menuItems">
                        <p>Mocha ...... 4.50</p>
                    </div>
                    <div class="menuItems">
                        <p>Dirty Chai Latte ...... 4.50</p>
                    </div>
                    
                </div>
                <div class="menuSections">
                    
                    <div class="menuItems">
                        <p> ____Drinks_____</p>
                    </div>
                    <div class="menuItems">
                        <p>Chai Latte ...... 4.25</p>
                    </div>
                    <div class="menuItems">
                        <p>Hot Cocoa ...... 3.00</p>
                    </div>
                    <div class="menuItems">
                        <p>Hot Tea ...... 3.00</p>
                    </div>
                    <div class="menuItems">
                        <p>Bottle Water ...... 2.00</p>
                    </div>
                    <div class="menuItems">
                        <p>Juice...... 2.00</p>
                    </div>
                    <div class="menuItems">
                        <p>Soft Drinks...... 2.50</p>
                    </div>
                    
                </div>
                <div class="menuSections">
                    
                    <div class="menuItems">
                        <p> ____Extras_____</p>
                    </div>
                    <div class="menuItems">
                        <p>Flavors:Vanilla, Hazelnut,Carmel ...... 2.50</p>
                    </div>
                    <div class="menuItems">
                        <p>Milks: Oat, Almond, Soy ...... 2.50</p>
                    </div>
                    <div class="menuItems">
                        <p>Espresso Shot ...... 2.50</p>
                    </div>
                </div>
            </div>           
        </div>


        <div class="menuHead">
            <h1>
                Wine Menu
            </h1>
            <div class ="menuGrid">
                <div class="menuSections">
                    <div class ="menuItems">
                        <p>____Red_____</p>
                        <p></p>
                    </div>
                    <div class="menuItems">
                        <p>Alamand, Malbec ...... 7.20  24.50</p>
                    </div>
                    <div class="menuItems">
                        <p>Haden Fig, Pinot Noir ...... 3.00  3.75</p>
                    </div>
                    <div class="menuItems">
                        <p>Joey Tensley, Cabernet Sauvignon ...... 7.80  26.00</p>
                    </div>
                </div>
                <div class="menuSections">

                    <div class="menuItems">
                        <p> ____White_____</p>
                    </div>
                    <div class="menuItems">
                        <p>Phillipe Raimbault, Sauvignon Blanc ...... 8.10  27.00</p>
                    </div>
                    <div class="menuItems">
                        <p>Lubanzi, Chenin blanc ...... 6.90  22.50</p>
                    </div>
                    <div class="menuItems">
                        <p>Poco a Poco, Chardonnay ...... 7.80  25.50</p>
                    </div>

                </div>
                <div class="menuSections">

                    <div class="menuItems">
                        <p> ____Rose_____</p>
                    </div>
                    <div class="menuItems">
                        <p>Chateau Pigoudet, Classique ...... 7.20  24.00</p>
                    </div>

                </div>
                <div class="menuSections">

                    <div class="menuItems">
                        <p> ____Prosecco_____</p>
                    </div>
                    <div class="menuItems">
                        <p>Faghar Le Colture, Brut ...... 7.80  23.00</p>
                    </div>
                </div>
                <div class="menuSections">

                    <div class="menuItems">
                        <p> ____Mimosa_____</p>
                    </div>
                    <div class="menuItems">
                        <p>Beer ...... 8.00  38.00</p>
                    </div>
                    <div class="menuItems">
                        <p>Corona ...... 4.00</p>
                    </div>
                    <div class="menuItems">
                        <p>Dos Equis ...... 4.00</p>
                    </div>
                    <div class="menuItems">
                        <p>Lagunitas IPA ...... 4.00</p>
                    </div>
                    <div class="menuItems">
                        <p>Stella Artois...... 4.00</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="sections1" id = "parallax">
    </div>
    <footer>
        <div class = "hoursOfOperation">
            <h1>
                Monday - Friday: 7AM - 8PM
            </h1>
            <h1>
                Phone: 1 (374) 974-7200
            </h1>
            <h1>
                Address: 218 8th Avenue, New York, NY 10011, USA
            </h1>
        </div>

    </footer>

</body>
</html>