<!DOCTYPE html>
{% load static %}
<html lang="en-US">
<head>
    <title>Raúl Àvila Inc.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'Raul_Inc/CSS/main.css' %}">
</head>

<body>

<link rel="stylesheet" type="text/css" href="{% static 'Raul_Inc/CSS/font-awesome.min.css' %}">

<div id="navcontainer" class="fixed">
    <div id="logo" class="home-logo"><img src="{%static 'Raul_Inc/Images/raulAvilaIncFinal.png' %}"/></div>
    <ul id="navlist">
        <li><a href="{%url 'Raul_Inc_Home' %}">HOME</a></li>
        <li><a href="{%url 'Raul_Inc_Bio' %}">BIO</a></li>
        <li><a href="{%url 'Raul_Inc_Press' %}">PRESS</a></li>
        <li><a href="{%url 'Raul_Inc_clientList' %}">CLIENT LIST</a></li>
        <li><a href="{%url 'Raul_Inc_gallery' %}">GALLERY</a></li>
        <li><a href="{%url 'Raul_Inc_contact' %}">CONTACT</a></li>
        <li>
            <div id="social">
                <a href="https://www.facebook.com/RAULAVILAINC">
                    <img src="{%static 'Raul_Inc/Images/Facebook10.ico' %}" width="17" height="17">
                </a>
                <a href="https://twitter.com/RaulAvilaInc">
                    <img src="{%static 'Raul_Inc/Images/Twitter10.png' %}" width="17" height="17">
                </a>
                <a href="http://instagram.com/raulavilainc">
                    <img src="{%static 'Raul_Inc/Images/ig10.png' %}" width="17" height="17">
                </a>
            </div>
        </li>
    </ul>
</div>

<div id="pageContent">

    <!-- <img id="bgimg" src="i/clientbg.jpg"/> -->

    <div id="clientList">

        <div class="clientlistColumn">
            <ul>
                <li>AERIN</li>
                <li>Aerin Lauder Zinterhofer</li>
                <li>Allure Magazine</li>
                <li>Altuzarra</li>
                <li>Anna Wintour</li>

                <li>Balenciaga</li>
                <li>Barneys NYC</li>
                <li>Bottega Veneta</li>
                <li>Brant Foundation</li>
                <li>Bureau Betak</li>

                <li>Cartier</li>
                <li>C F D A</li>
                <li>Chanel</li>
                <li>Chloe</li>
            </ul>
        </div>

        <div class="clientlistColumn">
            <ul>
                <li>Clinique</li>
                <li>Coach</li>
                <li>Cole Haan</li>
                <li>Conde Nast</li>
                <li>Cynthia Rowley</li>

                <li>David Yurman</li>
                <li>Derek Lam</li>
                <li>Dior</li>
                <li>Dolce &amp; Gabbana</li>
                <li>DVF</li>

                <li>Estee Lauder</li>
                <li>Giorgio Armani</li>
                <li>Glamour Magazine</li>
                <li>Gramercy Park Hotel</li>
            </ul>
        </div>

        <div class="clientlistColumn">
            <ul>
                <li>GQ</li>
                <li>Gucci</li>
                <li>H&amp;M</li>
                <li>Harry Winston</li>
                <li>HBO</li>

                <li>Hermes</li>
                <li>Hugo Boss</li>
                <li>Ian Schrager</li>
                <li>Josh Woods Productions</li>
                <li>Kate Spade</li>

                <li>KCD Worldwide</li>
                <li>L A C M A</li>
                <li>Lanvin</li>
                <li>Lincoln Center</li>
            </ul>
        </div>

        <div class="clientlistColumn">
            <ul>
                <li>Louis Vuitton</li>
                <li>Madonna</li>
                <li>Marc Jacobs</li>
                <li>Max Mara</li>
                <li>Metropolitan Museum of Art</li>

                <li>Michael Kors</li>
                <li>MoMA</li>
                <li>Opening Ceremony</li>
                <li>Oscar de la Renta</li>
                <li>P &amp; G Prestige Products</li>

                <li>Prodject</li>
                <li>Ralph Lauren</li>
                <li>S P E C Entertainment</li>
                <li>The White House</li>
            </ul>
        </div>

        <div class="clientlistColumn">
            <ul>
                <li>Tom Ford</li>
                <li>Tommy Hilfiger</li>
                <li>Tony Awards</li>
                <li>Tory Burch</li>
                <li>UBS Financial</li>

                <li>Valentino</li>
                <li>Van Cleef &amp; Arpels</li>
                <li>Vera Wang</li>
                <li>Versace</li>
                <li>Vogue</li>

                <li>W Magazine</li>
            </ul>
        </div>

        <!--  <div id="clientList"><img src="images/clientList5.jpg"></div>-->

    </div>

</div><!--pageContent-->

<script type="text/javascript" src="js/main.js" ></script>

</body>
</html>
