<!DOCTYPE html>
{% load static %}
<html lang="en-US">
<head>
    <title>Raúl Àvila Inc.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'Raul_Inc/CSS/main.css' %}">
</head>

<body>

<link rel="stylesheet" type="text/css" href="{% static 'Raul_Inc/CSS/font-awesome.min.css' %}">

<div id="navcontainer" class="fixed">
    <div id="logo" class="home-logo"><img src="{%static 'Raul_Inc/Images/raulAvilaIncFinal.png' %}"/></div>
    <ul id="navlist">
        <li><a href="{%url 'Raul_Inc_Home' %}">HOME</a></li>
        <li><a href="{%url 'Raul_Inc_Bio' %}">BIO</a></li>
        <li><a href="{%url 'Raul_Inc_Press' %}">PRESS</a></li>
        <li><a href="{%url 'Raul_Inc_clientList' %}">CLIENT LIST</a></li>
        <li><a href="{%url 'Raul_Inc_gallery' %}">GALLERY</a></li>
        <li><a href="{%url 'Raul_Inc_contact' %}">CONTACT</a></li>
        <li>
            <div id="social">
                <a href="https://www.facebook.com/RAULAVILAINC">
                    <img src="{%static 'Raul_Inc/Images/facebook.ico' %}" width="17" height="17">
                </a>
                <a href="https://twitter.com/RaulAvilaInc">
                    <img src="{%static 'Raul_Inc/Images/Twitter10.png' %}" width="17" height="17">
                </a>
                <a href="http://instagram.com/raulavilainc">
                    <img src="{%static 'Raul_Inc/Images/ig10.png' %}" width="17" height="17">
                </a>
            </div>
        </li>
    </ul>
</div>

<div id="pageContent">
    <!-- <img id="bgimg" src="i/contactbg.jpg"> -->
    <div id="contact">
        <div class="address">
            <div class="addressheader">New York</div>
            <address>
                <p>
                    20 West 22 Street<br>
                    Suite 1012<br>
                    New York, NY 10010<br>
                    O 212-242-7673<br>
                    <a href="mailto:raul@raulavilainc.com?subject=Inquiry from website">raul@raulavilainc.com</a>
                </p>
            </address>
        </div>
        <div class="address">
            <div class="addressheader">Miami</div>
            <address>
                <p>
                    1688 Meridian Ave<br>
                    Suite 700<br>
                    Miami Beach, FL 33139<br>
                    O 786-650-1192<br>
                    <a href="mailto:raul@raulavilainc.com?subject=Inquiry from website">raul@raulavilainc.com</a>
                </p>
            </address>
        </div>
        <div class="address">
            <div class="addressheader">Paris</div>
            <address>
                <p>
                    7 Rue De La Paix<br>
                    Paris, France 75002<br>
                    O +33 1 79 98 11 53<br>
                    <a href="mailto:raul@raulavilainc.com?subject=Inquiry from website">raul@raulavilainc.com</a>
                </p>
            </address>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/main.js" ></script>

</body>
</html>
