{% load static %}
<html lang="en-US"><head>
    <title>Raúl Àvila Inc.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'Raul_Inc/CSS/main.css' %}">
    <style>
        #thumbs img {
            width: 300px;
            height: 216px;
        }
    </style>

</head>

<body>

<link rel="stylesheet" type="text/css" href="{% static 'Raul_Inc/CSS/font-awesome.min.css' %}">

<div id="navcontainer" class="fixed">
    <div id="logo" class="home-logo"><img src="{%static 'Raul_Inc/Images/raulAvilaIncFinal.png' %}"></div>
    <ul id="navlist">
        <li><a href="{%url 'Raul_Inc_Home' %}">HOME</a></li>
        <li><a href="{%url 'Raul_Inc_Bio' %}">BIO</a></li>
        <li><a href="{%url 'Raul_Inc_Press' %}">PRESS</a></li>
        <li><a href="{%url 'Raul_Inc_clientList' %}">CLIENT LIST</a></li>
        <li><a href="{%url 'Raul_Inc_gallery' %}">GALLERY</a></li>
        <li><a href="{%url 'Raul_Inc_contact' %}">CONTACT</a></li>
        <li>
            <div id="social">
                <a href="https://www.facebook.com/RAULAVILAINC" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/RaulAvilaInc" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="http://instagram.com/raulavilainc" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </li>
    </ul>
</div>

<div id="wrapper">

    <div id="articles">

        <div class="group">
            <a id="thumbs" href="http://news.mtv.it/life/tony-awards-2019-un-bellissimo-tributo-al-pride-month-realizzato-con-ben-22mila-rose/" target="_blank" rel="group">
                <img src="{% static 'Raul_Inc/Images/Tonys201913778.jpg' %}" alt="TONY AWARDS 2019: UN BELLISSIMO TRIBUTO AL PRIDE MONTH REALIZZATO CON BEN 22MILA ROSE" width="200" height="144">
                <div class="description"><span>TONY AWARDS 2019: UN BELLISSIMO TRIBUTO AL PRIDE MONTH REALIZZATO CON BEN 22MILA ROSE</span><br>June 2019</div>
            </a>
        </div>

    </div>

</div><!--wrapper-->



</body></html>