{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Raúl Àvila Inc.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'Raul_Inc/CSS/main.css' %}">

    <style>
        #thumbs img {
            width: 300px;
            height: 216px;
        }
    </style>
</head>

<body>

<link rel="stylesheet" type="text/css" href="{% static 'Raul_Inc/CSS/font-awesome.min.css' %}">

<div id="navcontainer" class="fixed">
    <div id="logo" class="home-logo"><img src="{%static 'Raul_Inc/Images/raulAvilaIncFinal.png' %}"/></div>
    <ul id="navlist">
        <li><a href="{%url 'Raul_Inc_Home' %}">HOME</a></li>
        <li><a href="{%url 'Raul_Inc_Bio' %}">BIO</a></li>
        <li><a href="{%url 'Raul_Inc_Press' %}">PRESS</a></li>
        <li><a href="{%url 'Raul_Inc_clientList' %}">CLIENT LIST</a></li>
        <li><a href="{%url 'Raul_Inc_gallery' %}">GALLERY</a></li>
        <li><a href="{%url 'Raul_Inc_contact' %}">CONTACT</a></li>
        <li>
            <div id="social">
                <a href="https://www.facebook.com/RAULAVILAINC">
                    <img src="{%static 'Raul_Inc/Images/Facebook10.ico' %}" width="17" height="17">
                </a>
                <a href="https://twitter.com/RaulAvilaInc">
                    <img src="{%static 'Raul_Inc/Images/Twitter10.png' %}" width="17" height="17">
                </a>
                <a href="http://instagram.com/raulavilainc">
                    <img src="{%static 'Raul_Inc/Images/ig10.png' %}" width="17" height="17">
                </a>
            </div>
        </li>
    </ul>
</div>

<div id="wrapper">

    <div id="articles">

        <div class="group">
            <a id="thumbs" href="http://nypost.com/2016/04/02/a-fascinating-peek-inside-anna-wintours-secretive-met-ball-planning/" target="_blank" rel="group">
                <img src="{% static 'Raul_Inc/Images/anna-wintour.jpg' %}" width="200" height="144">
                <div class="description"><span>Anna Wintour's Met Ball demands are endless</span><br/>April 2016</div>
            </a>
        </div>

    </div>

</div><!--wrapper-->

</body>
</html>