@font-face {
    font-family: myFirstFont;
    src: url(avenir-lt-std-35-light.otf);
}

body, html {
    width: 100%;
    background-color: #6d6d6d;
    margin:0;
    padding:0;
    font-family: myFirstFont;
    text-transform: none;
}

.photoSummary{
    display: grid;
    grid-template-columns: auto auto auto;
    place-content: center;
    margin: 20px 0px;
}

.photoSummary .photoSummaryColumn{
    width:10vw;
    padding:20px 0px;
}


.photoSummary .photoSummaryColumn img{
    width: 100%;
}

.photoSummary .photoSummaryColumn1 h1{
    font-size: 20px;
    margin: 80px 0px;
}

.photoSummary .photoSummaryColumn2 h1{
    font-size: 20px;
    margin:80px 0px;
}

.headers{
    background-color: #6d6d6d;
    text-transform: lowercase;
}

.container2{
    max-width:1580px;
    height: auto;
    margin:0 auto;
    overflow: hidden;
}

.checkoutBanner{
    margin:50px 0px;
    text-align: left;
}

.checkoutBannerHeading{
    text-align: left;
    padding:0px 32px;
    font-size: 50px;
    font-weight: 700;
    font-family: myFirstFont;
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.checkoutPage{
    width:80%;
    margin:200px auto;
}

.checkoutPageDivision{
    display: grid;
    grid-template-columns: 60% auto;
    margin:0px auto;
    padding:0px 20px;
    width:100%;
}

.leftColumn{
    background-color: rgba(0, 0, 0, 0.2);
    width:100%;
    max-height: auto;
    padding:20px 0px;
}

.rightColumn{
    display: grid;
    grid-template-rows: 50% 50%s;
    margin:0px 50px 50px 20px;
    padding:0px 0px 50px 0px;
    max-height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding:20px;
}

.rightColumns{
    max-height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
    padding:40px;
    margin: 0px 50px 50px 20px;
}

.rightColumn .summary {
    max-height: auto;
    text-align: center;
    
}

.summary h1{
    font-size: 50px;
    padding:0px 50px;
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.summary h5{
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
    font-style: italic;
}

table {
    text-align: center;
    font-family: myFirstFont;
    border-collapse: collapse;
    width: 80%;
    margin:10px auto;
    font-size: 20px;
}

table #divide{
    border-top:1px solid #cfbb63;
}

th{
    border: none;
    text-align: left;
    padding: 15px 30px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.4);
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

td{
    border: none;
    text-align: left;
    padding: 25px 30px;
    font-size: 20px;
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ruleOut{
    border-top:2px solid #cfbb63;
}


.paymentSection h1{
    font-size: 50px;
    font-weight: 700;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0px;
    margin-block-end: 20px;
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paymentSection button{
    background-color: #cfbb63;
    padding:16px 32px;
    color:#333333;
    outline: none;
    border: none;
    font-family: myFirstFont;
    font-size:20px;
}

.leftColumn h1{
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:50px;
    padding:10px 40px;
    font-weight: 700;
}

.leftColumn .accordion {
    background-color: rgba(0, 0, 0, 0.1);
    color: #cfbb63;
    cursor: pointer;
    font-weight: 300;
    padding: 18px;
    margin:10px 35px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    transition: 0.4s;
    font-family: myFirstFont;
}

.active, .accordion:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.accordion:after {
    content: '\002B';
    color: #cfbb63;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    width:85.6%;
    margin:0px 35px;
    font-size: 20px;
    transition: max-height 0.2s ease-out;
    
}

.panel label{
    font-size: 20px;
    text-align: left;
    padding:10px 20px;
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.panel .addButton{
    background-color: #cfbb63;
    border: none;
    outline: none;
    font-size:20px;
    color:rgba(0, 0, 0, 0.6);
    padding:16px 32px;
    font-weight: 500;
    margin:10px 200px;
    font-family: myFirstFont;
}

.shippingAccordion{
    background-color: rgba(0, 0, 0, 0.1);
    color: #cfbb63;
    cursor: pointer;
    font-weight: 300;
    padding: 18px;
    margin:0 15px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    transition: 0.4s;
    font-family: myFirstFont;
}

.active2, .shippingAccordion:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.active2:after {
    content: "\2212";
}

.shippingAccordion:after {
    content: '\002B';
    color: #cfbb63;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.boxAlign{
    width:90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    padding: 0 18px;
    background-color: rgba(0, 0, 0, 0.1);
    max-height: 0;
    margin:0 auto;
    overflow: hidden;
    font-size: 20px;
    transition: max-height 0.2s ease-out;
}

.registeredAdds{
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    width:50%;
    text-align: center;
}

.registeredAdds .box{
    width:50%;
    margin:0 auto;
}

.registeredAdds .box h1{
    font-size:30px;
    padding:0px;
}

.registeredAdds .box h5{
    font-size: 14px;
}

*, label {
    font-size: 16px;
    font-variant: normal;
    padding: 0;
    -webkit-font-smoothing: antialiased;    
}

form {
    padding: 30px;
}

label {
    font-weight: 500;
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
}

.rightColumns .totalSummary{
    display: grid;
    grid-template-columns: 50% 50%;
    margin:0px auto;
}

.rightColumns hr{
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    height: 3px;
    outline : none;
    border: none;
}

.rightColumns .finalTotal{
    display: grid;
    padding:0px 30px 0px 30px;
    grid-template-columns: auto auto;
    margin: 0 auto;
    text-align: center;
}

.rightColumns .finalTotal h2{
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:25px;
}

.rightColumns .totalSummary .totalSummaryColumn1{
    padding:30px 30px 0px 30px;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.totalSummaryColumn1 h2{
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:20px;
}

.rightColumns .totalSummary .totalSummaryColumn2{
    padding:30px 30px 0px 30px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    text-align: center;
}

.rightColumns h1{
    font-size:50px;
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin:20px auto 0px auto;
    
}

.totalSummaryColumn2 h2{
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:20px;
}

#payment-form{
    width:auto;


}

#payment-form label{
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:20px;
}

#payment-form .button{
    background: #cfbb63;
    color:rgba(0, 0, 0, 0.6);
    padding:16px 32px;
    outline: none;
    border: none;
    font-family: myFirstFont;
    border-radius: 40px;
    font-weight: 700;
    transition: 0.4s ease-in-out;
}
#payment-form .button:hover{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
    cursor: pointer;
    color:rgba(0, 0, 0, 0.9);
}

#card-errors {
    height: 20px;
    padding: 4px 0;
    color: white;
}

.form-row {
    width: 70%;
    float: left;
}

.token {
    color: #32325d;
    font-family: myFirstFont;
    font-weight: 500;
}

.wrapper {
    width: 670px;
    margin: 0 auto;
    height: 100%;
}

#stripe-token-handler {
    position: absolute;
    top: 0;
    left: 25%;
    right: 25%;
    padding: 20px 30px;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15),
    0 5px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    transform: translateY(0);
    opacity: 1;
    background-color: white;
}

#stripe-token-handler.is-hidden {
    opacity: 0;
    transform: translateY(-80px);
}


#scrollTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#scrollTop:hover {
    background-color: transparent;
    display: none;
}

/**
* The CSS shown here will not be introduced in the Quickstart guide, but shows
* how you can use CSS to style your Element's container.
*/
.StripeElement {
    box-sizing: border-box;

    height: 40px;
    width:400px;
    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important
}

.registeredAdd{
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    padding:0 35px;
}

.registeredAdd .button{
    -webkit-text-fill-color:rgba(0, 0, 0, 0.6);
    padding:16px 32px;
    background:#cfbb63;
    outline: none;
    border: 1px solid #cfbb63;
    margin:20px auto;
    font-weight: 700;
    border-radius: 40px;
    transition: 1s ease-in-out;
    font-family: myFirstFont;
}

.registeredAdd .button:hover{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
    cursor: pointer;
    -webkit-text-fill-color:black;
}

.registeredAdd h3{
    font-size: 25px;
    background: -webkit-linear-gradient(#f8f18e,#d6a55b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

@media (max-width: 1200px){
    .checkoutPage{
        margin:200px 30px;
    }
}

@media (max-width:1024px){
    .checkoutPage{
        margin:200px 0px;
    }
}

@media(max-width:1000px){

    .checkoutPage{
        margin:200px auto;
    }
    .checkoutPageDivision{
        display:flex;
        flex-direction: column-reverse;
    }
}

@media(max-width:640px){
    .checkoutPage{
        margin:150px auto;
    }
    .checkoutPageDivision{
        display:flex;
        flex-direction: column-reverse;
        padding:0;
    }

    .rightColumn{
        margin: 0 0 50px 0;
    }

    .leftColumn{
        margin:0 auto;
        text-align: center;
    }

    form{
        padding: 0 0 30px 0;
    }

    .leftColumn .accordion{
        margin:10px auto;
    }

    .panel{
        margin:0 auto;
        padding: 0;
    }

    .panel .addButton{
        margin:0;
        font-size: 16px;
    }

    .registeredAdd .button{
        font-size: 16px;
        padding:10px 10px;
        width:100%;
        border-radius: 0;
    }
}



