/*hello*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

@font-face {
    font-family: myFirstFont;
    src: url(avenir-lt-std-35-light.otf);
}

@font-face {
    font-family: mySecondFont;
    src: url(BrisaRegular.ttf);
}

body{
    margin:0;
    padding:0;
    height:100vh;
    font-family: myFirstFont;
    overflow: hidden;
    justify-items: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.initialBack{
    margin:0;
    padding:0;
    left:0;
    top:0;
    position: absolute;
    background: url('Images/initialBack.jpeg');
    width:100%;
    height: 100vh;
    z-index: -1;
    background-position: center;
    background-size: cover;
    filter: brightness(50%);

}

.placeContainers{
    /* display: grid;
    grid-template-rows: auto auto; */
    /* height:100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    animation: fadeIn 5s;
    /* filter: brightness(100%); */
    padding:30vh 0;
}

@keyframes backgroundImage{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* @keyframes fadeIn{
    0%{opacity: 0; transform: translateY(-50px);}
    100%{opacity: 1; transform: translateY(0);}
} */

.bigContainer{
    /* width: 100%; */
    margin-left:auto;
    margin-right: auto;
    animation: animateContainer 2s;
}

@keyframes animateContainer{
    0%{
        opacity:0; 
        transform: translateY(-50px);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}

.bigContainer2{
    display: flex;
    flex-direction: row;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    width: 65%;
}


.backgroundText{
    position: absolute;
    justify-items: center;
    /* top:-50px;
    left:30px; */
    top:0;
    left:0;
    text-align: center;
    align-items: center;
    width:100%;
    height: 100vh;
    z-index: -1;   
    display: none;
    transition: 0.4s ease-in-out;
    background: url('Images/RaulCafe_2566.jpg');
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation: backgroundImage 1s;
    filter: brightness(60%);
}

.backgroundText figcaption{
    justify-items: center;
    font-size: 0px;
    font-weight: bolder;
    opacity: 0.4;
    color:rgba(0,0,0,0.4);
    transition: ease-in-out;
    letter-spacing: 50px;
    animation: backgroundTextFade 4s;
}

.backgroundText2{
    position: absolute;
    justify-items: center;
    /* top:160px;
    left:160px; */
    width:100%;
    top:0;
    left:0;
    height: 100vh;
    text-align: center;
    align-items: center;
    z-index: -1;   
    height: 100vh;
    display: none;
    transition: 0.4s ease-in-out;
    background-color: black;
    background: url('Images/Retail_Landing.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation: backgroundImage 1s;
    filter: brightness(60%);
}

.backgroundText2 figcaption{
    justify-items: center;
    font-size: 0px;
    font-weight: bolder;
    opacity: 0.5;
    color:rgba(0,0,0,0.4);
    transition: ease-in-out;
    letter-spacing: 60px;
    animation: backgroundTextFade 4s
}

.backgroundText3{
    position: absolute;
    justify-items: center;
    margin:0 auto;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    z-index: -1;   
    display: none;
    transition: 0.4s ease-in-out;
    background: url('Images/Raul_Inc_Landing.jpg');
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation: backgroundImage 1s;
    filter: brightness(60%);
}

.backgroundText3 figcaption{
    justify-items: center;
    font-size: 0px;
    font-weight: bolder;
    opacity: 0.4;
    color:rgba(0,0,0,0.4);
    transition: ease-in-out;
    letter-spacing: 50px;
    animation: backgroundTextFade 2s
}

.backgroundText4{
    position: absolute;
    justify-items: center;
    margin:0 auto;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    z-index: -1;   
    display: none;
    transition: 0.4s ease-in-out;
    background: url('Images/Raul_Inc_Landing.jpg');
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation: backgroundImage 1s;
    filter: brightness(60%);
}

.backgroundText4 figcaption{
    justify-items: center;
    font-size: 0px;
    font-weight: bolder;
    opacity: 0.4;
    color:rgba(0,0,0,0.4);
    transition: ease-in-out;
    letter-spacing: 50px;
    animation: venueAnimation 2s
}

@keyframes backgroundTextFade{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
}

#cafeBanners{
    transition: 0.4s ease-in-out;
}

#cafeBanner{
    transition: 0.4s ease-in-out;
    animation: cafeAnimation 4s;
}

@keyframes cafeAnimation{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    20%{
        opacity: 0;
        transform: translateY(-50px);
    }
    65%{
        opacity: 0;
        transform: translateY(-50px);
    }
    90%{
        opacity: 1;
        transform: translateY(0);
    }


}


#raulBanner{
    transition: 0.4s ease-in-out;
    animation: raulAnimation 4s;
}

@keyframes raulAnimation{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    35%{
        opacity: 0;
        transform: translateY(-50px);
    }
    65%{
        opacity: 1;
        transform: translateY(0);
    }
}

#venueBanner{
    transition: 0.4s ease-in-out;
    animation: venueAnimation 4s;
}

#venue{
    font-size: 40px;
}


@keyframes venueAnimation{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    20%{
        opacity: 0;
        transform: translateY(-50px);
    }
    65%{
        opacity: 0;
        transform: translateY(0);
    }

    90%{
        opacity: 0;
        transform: translateY(-50px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

a{
   overflow: hidden;
   text-emphasis: none;
   margin-left:auto;
   margin-right:auto;
   color:white;
   text-decoration: none;
}

a .container{
    /* height:200px; */
    /* margin-left:auto;
    margin-right: auto; */
    /* padding-top:50px; */
    transition: 0.5s ease-in-out;
    z-index: 5;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a .container p{
    /* background-color: rgba(0,0,0,0.9); */
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    /* border-radius: 100px; */
    padding:30px 30px 5px 30px;
    margin-left:auto;
    margin-right: auto;
    font-size: 50px;
    color: white;
    font-family: mySecondFont;
    letter-spacing: 4px;
    font-weight: bolder;
    transition: 0.4s ease-in-out;
}
/* 
.bigContainer2 a #raulBanner #raul{
    margin:0px 50px;
} */

a #raulAvila{
    font-family: myFirstFont;
    text-align: center;
    font-size: 55px;
    /* width: 30em;
    height: 6em; */
    z-index:99;
    /* margin-top:-40px; */
}

a #raulAvila img{
    width: 78%;
    margin: 0px 0px 0px 20px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

a #raul{
    font-family: myFirstFont;
    /* text-align: left;
    width: 15em;
    height: 6em; */
    z-index:90;
    /* margin:0 5rem 0 0; */
   
}

a #raul img{
    width: 55%;
    margin-top:-20px;
}

a #venue{
    font-family: myFirstFont;
    /* text-align: left;
    width: 15em;
    height: 6em; */
    z-index:90;
}

a #venue img{
    width: 55%;
    margin-top:-20px;
}
}

a #cafe{
    font-family: mySecondFont;
    /* text-align: right; */
    /* width:15em; */
    /* height: 6em; */
    z-index:99;
    /* margin:0px 0px 0px 16rem; */
}

a #cafe img{
   width:100%;
   padding-top:15px;
}


a .container:hover{
    cursor: pointer;
}

a .container #bgPic{
    filter: contrast(85%) brightness(70%);
}

#cafeBanner:hover .backgroundText{
    display: block;
    transition: 0.4s ease-in-out;
}

#cafeBanners:hover .backgroundText3{
    display: block;
    transition: 0.4s ease-in-out;
}

#raulBanner:hover .backgroundText2{
    display: block;
}

#venueBanner:hover .backgroundText4{
    display: block;
}

a .container:hover p{
    opacity: 1;
    border-bottom: 3px solid white;
    
}

@media (max-width:768px){
    a .container p{
        padding:0;
        font-size: 30px;
        margin:20px auto;
    }

    #venue{
        font-size: 30px;
    }

    a #raulAvila{
        font-size: 30px;
    }

    .bigContainer2{
        flex-direction: column;
    }
}