body{
    margin:0;
    padding:0;
    height:100vh;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
    justify-items: center;
    align-items: center;
    background-color:#333333;
}

.placeContainers{
    display: grid;
    grid-template-rows: 38% 38%;
    height:100vh;
    padding:50px 0px;
    animation: fadeIn 2s;
}

@keyframes fadeIn{
    0%{opacity: 0; transform: translateY(-50px);}
    100%{opacity: 1; transform: translateY(0);}
}

.bigContainer2{
    display:grid;
    grid-template-columns: 50% 50%;
    margin:0 280px;
}

.backgroundText{
    position: absolute;
    justify-items: center;
    top:120px;
    left:0px;
    text-align: center;
    align-items: center;
    z-index: -1;   
    display: none;
    transition: 0.4s ease-in-out;
}

.backgroundText figcaption{
    justify-items: center;
    font-size: 15em;
    font-weight: bolder;
    opacity: 0.4;
    color:rgba(0,0,0,0.5);
    transition: ease-in-out;
    letter-spacing: 50px;
    
}

.backgroundText2{
    position: absolute;
    justify-items: center;
    top:160px;
    left:160px;
    text-align: center;
    align-items: center;
    z-index: -2;   
    display: none;
    transition: 0.4s ease-in-out;
}

.backgroundText2 figcaption{
    justify-items: center;
    font-size: 25em;
    font-weight: bolder;
    opacity: 0.5;
    color:rgba(0,0,0,0.5);
    transition: ease-in-out;
    letter-spacing: 60px;
    
}

#cafeBanner{
    transition: 0.4s ease-in-out;
}

#raulBanner{
    transition: 0.4s ease-in-out;
}

a{
   overflow: hidden;
   text-emphasis: none;
   margin-left:auto;
   margin-right:auto;
}

a .container{
    width:380px;
    height:200px;
    overflow: hidden;
    margin-left:auto;
    margin-right: auto;
    padding-top:50px;
    transition: 0.5s ease-in-out;
    z-index: 5;
}

a .container p{
    position: fixed;
}

a #raul{
   margin-left:4%;
   width: 13.5em;
   height: 8em;
   padding:10px 30px;
   z-index:99;
   background-color: rgba(0,0,0,0.8);
}

a #raul img{
    align-self: center;
    width: 65%;
    margin-left: 2em;
    margin-right: auto;
}

a #cafe{
   margin-left:4%;
   width:15em;
   height: 6em;
   padding:20px;
   z-index:99;
   background-color:rgba(0,0,0,0.9);
}

a #cafe img{
   align-self: center;
   width:100%;
   padding-top:15px;
}

a #third{
   margin-left:7.5%;
   z-index:99;
}

a .container video{
    z-index:-1;            
}

a .container:hover{
    margin:40px auto;
    cursor: pointer;
}

a .container #bgPic{
    filter: contrast(85%) brightness(70%);
}

#cafeBanner:hover .backgroundText{
    display: block;
    transition: 0.4s ease-in-out;
}

#raulBanner:hover .backgroundText2{
    display: block;
}

a .container:hover p{
    opacity: 1;
    
}