body{
    margin:0;
    padding:0;
    height:100vh;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
    justify-items: center;
    align-items: center;
    background-color:#595959;
}

.bigContainer{
    display: flexbox;
    flex-direction: row;
    height:100vh;
    z-index: 4;
}

.backgroundText{
    position: absolute;
    justify-items: center;
    top:120px;
    left:0px;
    text-align: center;
    align-items: center;
    z-index: -1;   
    display: none;
    transition: 0.4s ease-in-out;
}

.backgroundText figcaption{
    justify-items: center;
    font-size: 15em;
    font-weight: bolder;
    opacity: 0.4;
    color:rgba(0,0,0,0.5);
    transition: ease-in-out;
    letter-spacing: 50px;
    
}

.backgroundText2{
    position: absolute;
    justify-items: center;
    top:160px;
    left:160px;
    text-align: center;
    align-items: center;
    z-index: -2;   
    display: none;
    transition: 0.4s ease-in-out;
}

.backgroundText2 figcaption{
    justify-items: center;
    font-size: 25em;
    font-weight: bolder;
    opacity: 0.5;
    color:rgba(0,0,0,0.5);
    transition: ease-in-out;
    letter-spacing: 60px;
    
}

#cafeBanner{
    transition: 0.4s ease-in-out;
}

#raulBanner{
    transition: 0.4s ease-in-out;
}

a{
   overflow: hidden;
   text-emphasis: none;
   margin-left:auto;
   margin-right:auto;
}

a .container{
    width:30%;
    height:25%;
    overflow: hidden;
    margin-left:auto;
    margin-right: auto;
    padding-top:50px;
    transition: 0.5s ease-in-out;
    z-index: 5;
}

a .container p{
    display: none;
}

a #raul{
   margin-left:1.5%;
   width: 5.5em;
   height:2.5em;
   font-size: 3em;
   padding:30px;
}

a #raul img{
    align-self: center;
    width: 50%;
    margin-left: 1.2em;
    margin-right: auto;
}

a #cafe{
   margin-left:1.5%;
   width:15em;
   height: 6em;
   padding:40px;
}

a #cafe img{
   align-self: center;
   width:100%;
   padding-top:15px;
}

a #third{
   margin-left:7.5%;
}

a .container video{
    z-index:-1;            
}

a .container:hover{
    width:35%;
    cursor: pointer;
}

#cafeBanner:hover .backgroundText{
    display: block;
    transition: 0.4s ease-in-out;
}

#raulBanner:hover .backgroundText2{
    display: block;
}

a .container:hover p{
    opacity: 1;
    
}