
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

  html,body{
    margin:0;
    padding:0;
    width: 100%;
    font-family: 'Roboto', sans-serif;    
    overflow-x: hidden;
    background-color: #333333;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}


#scrollTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    width:50px;
    height: 50px;;
    outline: none;
    background: rgba(0,0,0,0.9);
    color: white;
    overflow: hidden;
    cursor: pointer;
    padding: 1px;
    border-radius: 50px;
  }

  #scrollTop img{
      width:100%;
  }

#scrollTop:hover {
    background-color: #333333;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  }

a{
    text-decoration: none;
}


.headers{
    position: fixed;
    width: 100%;
    transition: 0.2s ease-in;
    top:0;
    overflow: hidden;
    z-index: 99;
    color:white;
    /* background:#333333; */
    background: transparent;
}

figure{
    transition: 0.4s ease-in-out;
}

figure a{
    text-align: center;
    text-decoration: none;
    color:white;
    transition: 0.4s ease-in-out;
}

figure a:hover{
    font-family: 'Roboto Condensed', sans-serif;

}

figure p{
    text-align: center;
}

figure img{
    cursor: pointer;
}

.bannerHead{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('Images/Banner.png');
}

#videoBG{
    z-index:-1;
    opacity:0.9;
    width:100%;
    /* padding:140px 30px; */
    filter:brightness(60%);
}

.bannerHeading figcaption{
    font-family: 'Roboto', serif;
    background-color: white;
}

.bannerHeading figcaption a button{
    display: none;
}

.menuBar{
    width:50px;
    cursor: pointer;
    z-index: 101;
}

nav ul{
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.9);
    left:0;
    top:0;
    height: 0;
    margin:0;
    list-style: none;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
    z-index: 150;
    padding-inline-start: 0px;
}

nav ul li a:hover{
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.exitButton img{
    width: 25px;
    cursor: pointer;
}


/* Scroll Bar*/
::-webkit-scrollbar {
    width: 10px;
	overflow: auto;
}

::-webkit-scrollbar-track {
	background: #595959;
	border-radius:50px;
	overflow: auto;
}

::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 50px;
	overflow: auto;
}


@media only screen and (max-width:640px){    
    
    
    .feature{
        display: none;
    }

    .headers{
        display: grid;
        height: 3.5em;
        grid-template-columns: auto 3em;
        box-shadow: 0px 0px 5px 1px black;
    }

    .menuBar{
        width: 25px;
        margin-top: 30%;
    }

    .headers figcaption img{
        margin-left: 2em;
        margin-top:0.2em;
        width:15%;
    }

    nav ul li a{
        text-align: center;
        font-size: 1.9em;
        display: block;
        color:#818181;
        padding:50px 0px 0px 0px;
    }

    .exitButton{
        margin-bottom: 1em;
        margin: 20% 20% 0% 20%;
        text-align: right;
    }

    .exitButton img{
        width: 15px;
    }

    .bannerHead{    
        height: 100vh;
        width:100vw;
        overflow: hidden;
        position: relative;
        background-image: url("../Images/7.jpg");
        backface-visibility: hidden;
    }

    .bannerHeading figcaption{
        font-size: 1.5em;
        background-color: transparent;
        width:100%;
        height:auto;
        position: absolute;
        top:50%;
        left:0;
        text-align: center;
        color:white;
        font-family: 'Roboto', sans-serif;
        font-weight:700;
    }

    .bannerHeading figcaption a button{
        background:transparent;
        margin:20px;
        font-family: 'Roboto', sans-serif;
        font-size:0.8em;
        outline: none;
        padding:20px;
        border: none;
        color: white;
        transition: 0.5s ease;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid white;
        box-sizing: border-box;
        font-weight: bold;
    }

    .bannerHeading figcaption a button:hover{
        background-color: white;
        color:#595959;
        cursor: pointer;
    }

    .shopBanner{
        width:100%;
        height:8em;
        color: #cfbb63;
        text-align: center;
        padding:10px 0px 30px 0px;
        font-size:10px;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .shopBanner figcaption{
        font-size: 50px;
    }

    .shopBanner a{
        color:#cfbb63;
    }

    .shopBanner a:hover{
        color:orange;
    }

    .furniture{
        height:50vh;
        width:100%;
    }

    .shopBack{
        display: grid;
        grid-template-rows: auto auto;
        width:100vw;
        height:45vh;
    }

    .furnitureHeading{
        font-size:30px;
        font-family: 'Roboto', sans-serif;
        color: #cfbb63;
        padding-left: 30px;
        font-weight: bolder;
        text-transform: lowercase;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .furnitureHeading a{
        text-decoration: none;
        color:#cfbb63;
        text-align: right;
        padding-right:30px;
        padding-top:10px;
        font-size: 15px;
    }

    .furnitureImages{
        display: grid;
        grid-template-columns: auto auto;
    }

    .staticImage{
        width:90%;
        padding:8px;
        border-radius: 50px;
    }

    .textMiddle{
        display: none;
    }

    #store{
        display: none;
    }

    #category{
        display: none;
    }


    .linksShop{
        display: none;
    }

    .shopNow {
        display: none;
    }

    .bannerHead video {
        display: none;
    }

    figure{
        display: none;
    }

    nav ul::-webkit-scrollbar{
        display: none;
    }

    body::-webkit-scrollbar{
        display: none;
    }
}

@media only screen and (min-width:641px) and (max-width:768px){


    .feature{
        display: none;
    }

    .headers{
        display: grid;
        height: 4.5em;
        grid-template-columns: auto 3em;
        box-shadow: 0px 0px 5px 1px black;
    }

    .menuBar{
        width: 30px;
        margin-top: 45%;
    }

    .headers figcaption img{
        margin-left: 2em;
        margin-top:0.2em;
        width:10%;
    }

    nav ul li a{
        text-align: center;
        font-size: 3em;
        display: block;
        color:#818181;
        padding:50px 0px 0px 0px;
    }

    .exitButton{
        margin-bottom: 1em;
        margin: 20% 20% 0% 20%;
        text-align: right;
    }

    .exitButton img{
        width: 15px;
    }

    .bannerHead{
        height: 100vh;
        width:100vw;
        overflow: hidden;
        position: relative;
        background-image: url("../Images/7.jpg");
        backface-visibility: hidden;
    }

    .bannerHeading figcaption{
        font-size: 2.5em;
        background-color: transparent;
        width:100%;
        height:auto;
        position: absolute;
        top:50%;
        left:0;
        text-align: center;
        color:white;
        font-family: 'Roboto', sans-serif;
        font-weight:700;
    }

    .bannerHeading figcaption a button{
        background:transparent;
        margin:20px;
        font-family: 'Roboto', sans-serif;
        font-size:0.8em;
        outline: none;
        padding:20px;
        border: none;
        color: white;
        transition: 0.5s ease;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid white;
        box-sizing: border-box;
        font-weight: bold;
    }

    .bannerHeading figcaption a button:hover{
        background-color: white;
        color:#595959;
        cursor: pointer;
    }

    .shopBanner{
        width:100%;
        height:20em;
        color: #cfbb63;
        text-align: center;
        padding:10px 0px 30px 0px;
        font-size:10px;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .shopBanner figcaption{
        font-size: 50px;
    }

    .shopBanner a{
        color:#cfbb63;
    }

    .shopBanner a:hover{
        color:orange;
    }

    .furniture{
        height:700px;
        width:100%;
        background-color: transparent;
        margin:10px;
    }

    .shopBack{
        display: grid;
        grid-template-rows: auto auto;
        width:100vw;
        height:600px;
    }

    .furnitureHeading{
        font-size:50px;
        font-family: 'Roboto', sans-serif;
        color: #cfbb63;
        padding-left: 30px;
        font-weight: bolder;
        text-transform: lowercase;
        display: grid;
        grid-template-columns: 50% 50%;
        letter-spacing: 5px;
    }

    .furnitureHeading a{
        text-decoration: none;
        color:#cfbb63;
        text-align: right;
        padding-right:30px;
        padding-top:10px;
        font-size: 30px;
    }

    .furnitureImages{
        display: grid;
        grid-template-columns: auto auto;
    }

    .staticImage{
        width:90%;
        padding:8px;
        border-radius: 50px;
    }

    .textMiddle{
        display: none;
    }

    #store{
        display: none;
    }

    #category{
        display: none;
    }


    .linksShop{
        display: none;
    }

    .shopNow {
        display: none;
    }

    .bannerHead video {
        display: none;
    }

    figure{
        display: none;
    }

    nav ul::-webkit-scrollbar{
        display: none;
    }

    body::-webkit-scrollbar{
        display: none;
    }
}

@media only screen and (min-width:769px) and (max-width:1024px) /* Make adjustment for 800px ( divie 769px-1024px for better responsiveness)*/{


    .feature{
        display: none;
    }

    .headers{
        display: grid;
        height: 5em;
        grid-template-columns: auto 5em;
    }

    .menuBar{
        width: 40px;
        margin-top: 15%;
    }

    .headers figcaption img{
        margin-left: 2em;
        margin-bottom:0.5em;
        width:7%;
    }

    nav ul li a{
        text-align: center;
        font-size: 3.5em;
        display: block;
        padding: 3%;
        color:#818181;
    }

    .exitButton{
        margin-bottom: 1em;
        margin: 10%;
        text-align: right;
    }

    figure{
        display: none;
    }

    #category{
        display: none;
    }

    #store{
        display: none;
    }

    .bannerHead{
        height: 100vh;
        width:100vw;
        overflow: hidden;
        position: relative;
        scroll-snap-align: start;
    }

    .bannerHead video {
        display: none;
    }

    .bannerHeading figcaption{
        font-size: 3em;
        background-color: transparent;
        width:100%;
        height:auto;
        position: absolute;
        top:50%;
        left:0;
        text-align: center;
        color:white;
        font-family:'Roboto';
        font-weight:700;
    }

    .bannerHeading figcaption a button{
        background:transparent;
        margin:20px;
        font-family: 'Roboto', sans-serif;
        font-size:0.5em;
        outline: none;
        padding:30px;
        border: none;
        color: white;
        transition: 0.5s ease;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid white;
        box-sizing: border-box;
        font-weight: bold;
    }

    .bannerHeading figcaption a button:hover{
        background-color: white;
        color:#595959;
        cursor: pointer;
    }

    .shopBanner{
        width:100%;
        height:450px;
        scroll-snap-align: start;
        color: #cfbb63;
        text-align: center;
        padding-top:5em;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .shopBanner figcaption{
        font-size:18em;
    }

    .shopBanner a{
        font-size:1em;
        color:#cfbb63;
    }

    .shopBanner a:hover{
        color:orange;
    }


    .furniture{
        height:700px;
        width:100%;
        background-color: #595959;
        scroll-snap-align: start;
        padding:10px;
    }

    .shopBack{
        display: flex;
        flex-wrap: nowrap;
        margin:20px;
        background-color: rgba(0,0,0,0.5);
        width:95vw;
        height:95vh;
    }

    .furnitureHeading{
        font-size:6em;
        font-family: 'Roboto Condensed';
        margin:30% .5em;
        color: #cfbb63;
        opacity: 1;
    }

    .linksShop{
        font-size:0.1em;
        font-family:'Roboto';
        font-weight: 700;
        letter-spacing: 0.18em;
        text-align: center;
        color: #cfbb63;
        font-family: 'Roboto Condensed';
    }

    .furnitureHeading .seeMore{
        display: none;
    }

    .linksShop a{
        text-decoration: none;
        color:#cfbb63;
    }

    .linksShop a:hover{
        color:orange;
        font-family: 'Roboto Condensed';
    }

    .shopNow {
        font-size:0.2em;
        font-family:'Roboto',sans-serif;
        letter-spacing: 2.2em;
        font-weight: 700;
        text-align: center;
    }

    .furnitureImages{
        margin:10% 0.5em;
    }

    #hide{
        display: none;
    }

    .furnitureImages img{
        transition: 0.4s ease-in-out;
        display: block;
    }

    .staticImage{
        width:90%;
    }

    .textMiddle{
        transition: 0.3s ease-in-out;
        opacity: 0;
        position: absolute;
        top:50%;
        right:10%;
        text-align: center;
        z-index: 1;
    }

    .textInfo{
        width:80%;
        padding: 16px 32px 16px 32px;
        font-size: 5em;
        font-family: 'Roboto Condensed';
        background-color: white;
        color:black;

    }

    #Lighting{
        letter-spacing: 0.1em;
    }

    #Floral{
        letter-spacing: 0.25em;
    }

    #table .shopNow{
        letter-spacing: 2em;
    }

    #table .furnitureHeading span{
        letter-spacing: 0.04em;
    }

    #wall .furnitureHeading{
        letter-spacing: 0.1em;
    }

    .contact{
        height: 100vh;
        width:100%;
        background-color: white;
    }

}

@media only screen and (min-width:1025px) and (max-width:1200px){



    nav{
        display: none;
    }

    .headers figcaption{
        display: none;
    }

    .headers{
        background:#595959; /*Change to transparent*/
    }

    figure{
        margin: 0px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        height: 4em;
    }

    figure a{
        margin-right: 2em;
        font-family: 'Roboto', sans-serif;
    }

    figure p{
        margin-right:20px;
    }

    figure img{
        margin-top:0.5em;
        width:7%;
    }

    #store{
        width:100%;
        height:0%;
        overflow: hidden;
        background-color: rgba(0,0,0,0.95);
        position: fixed;
        left:0;
        top:0;
        color: #cfbb63;
        font-family: 'Roboto Condensed', sans-serif;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        transition: 0.4s ease-in-out;
    }

    #store p{
        font-size:4em;
        padding:0px;
        letter-spacing: 0.2em;
        margin-left: auto;
        margin-right: auto;
    }

    #store #cross{
        font-size: 2em;
    }

    #store #cross:hover{
        cursor: pointer;
        color:orange;
    }



    #category{
        width: 100%;
        height:0%;
        overflow: hidden;
        background-color: black;
        position: fixed;
        left:0;
        top:0;
        color: #cfbb63;
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        transition: 0.4s ease-in-out;
        z-index:98;
        justify-content: center;
        max-height: 15%;
    }

    .dropDownMenu{
        float: left;
        overflow: hidden;
        padding:30px;
        transition: 0.4s ease-in-out;
    }

    .dropDownMenu .dropDownButton{
        border:none;
        outline:none;
        color:white;
        font-size: 12px;
        font-family: 'Roboto',sans-serif;
        background-color:transparent;
        margin-top:80px;
        transition: 0.4s ease-in-out;
    }

    .dropDownContent{
        display: none;
        position: fixed;
        left: 0;
        background-color: black;
        width: 100%;
        padding:50px;
        z-index: 1;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        transition: 0.4s ease-in-out;
    }

    .dropDownContent a{
        color:white;
        text-decoration: none;
        padding:30px;
        text-align: center;

    }

    .dropDownContent a:hover{
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 0.05em;
        cursor: pointer;
    }

    .dropDownButton:hover{
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 0.05em;
        cursor: pointer;
    }

    .dropDownMenu:hover .dropDownContent{
        display: block;
    }

    #category p{
        padding:30px;
        margin-top:80px;
        transition: 0.4s ease-in-out;
        font-size: 12px;
    }

    #category p:hover{
        font-family: 'Roboto Condensed',sans-serif;
        cursor: pointer;
    }


    .bannerHead{
        height: 100vh;
        width:100vw;
        overflow: hidden;
        position: relative;
        scroll-snap-align: start;
    }

    .bannerHead video {
        display: none;
    }

    .bannerHeading figcaption{
        font-size: 4em;
        background-color: transparent;
        width:100%;
        height:auto;
        position: absolute;
        top:50%;
        left:0;
        text-align: center;
        color:white;
        font-family:'Roboto';
        font-weight:700;
    }

    .bannerHeading figcaption a button{
        background:transparent;
        margin:20px;
        font-family: 'Roboto', sans-serif;
        font-size:0.5em;
        outline: none;
        padding:30px;
        border: none;
        color: white;
        transition: 0.5s ease;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid white;
        box-sizing: border-box;
        font-weight: bold;
    }

    .bannerHeading figcaption a button:hover{
        background-color: white;
        color:#595959;
        cursor: pointer;
    }

    .shopBanner{
        width:100%;
        height:450px;
        scroll-snap-align: start;
        color: #cfbb63;
        text-align: center;
        padding-top:5em;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .shopBanner figcaption{
        font-size:18em;
    }

    .shopBanner a{
        font-size:1em;
        color:#cfbb63;
    }

    .shopBanner a:hover{
        color:orange;
    }


    .furniture{
        height:800px;
        width:100%;
        scroll-snap-align: start;
        padding:10px;
    }

    .shopBack{
        display: flex;
        flex-wrap: nowrap;
        margin:50px;
        width:95vw;
        height:700px;
    }

    .furnitureHeading{
        font-size:6em;
        font-family: 'Roboto Condensed';
        margin:30% .5em;
        color: #cfbb63;
        opacity: 1;
    }

    .furnitureHeading .seeMore{
        display: none;
    }

    .linksShop{
        font-size:0.1em;
        font-family:'Roboto';
        font-weight: 700;
        letter-spacing: 0.18em;
        text-align: center;
        color: #cfbb63;
        font-family: 'Roboto Condensed';
    }

    .linksShop a{
        text-decoration: none;
        color:#cfbb63;
    }

    .linksShop a:hover{
        color: orange;
        font-family: 'Roboto Condensed';
    }

    .shopNow {
        font-size:0.2em;
        font-family:'Roboto';
        letter-spacing: 2.2em;
        font-weight: 700;
        text-align: center;
    }

    .furnitureImages{
        display: grid;
        grid-template-columns: auto auto;
        margin:7% 0.5em;
    }

    .furnitureImages img{
        padding:20px;
        transition: 0.4s ease-in-out;
        display: block;
    }

    .furnitureImages:hover .staticImage {
        filter: grayscale(40%) blur(1px);
    }

    #Lighting{
        letter-spacing: 0.1em;
    }

    #Floral{
        letter-spacing: 0.25em;
    }

    #table .shopNow{
        letter-spacing: 2em;
    }

    #table .furnitureHeading span{
        letter-spacing: 0.04em;
    }

    #wall .furnitureHeading{
        letter-spacing: 0.1em;
    }

    .furnitureHeading #head{
        font-size:0.8em;
    }

    .contact{
        height: 100vh;
        width:100%;
        background-color: white;
    }

}

@media only screen and (min-width:1200px) /*Dimensions higher than 1200px*/{

    body{
        text-transform: lowercase;
    }

    body::-webkit-scrollbar{
        display: none;
    }

    nav{
        display: none;
    }

    .headers{
        height:7.5em;
        display:grid;
        grid-template-rows: 55% 45%;
    }

    .headers figure .navbarIcons .hoverDiv{
        color:black;
        display: none;
        position: fixed;
        background-color: rgba(0,0,0,0.9);
        min-width: 180px;
        right:8%;
        top:8%;
        min-height: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 107;
        overflow: auto;
        padding:40px 0px 0px 0px;
        transition: 0.4s ease-in-out;
        text-align: center;
    }

    .headers figure .navbarIcons .hoverDiv span a{
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        font-size:14px;
        color:white;
        text-transform: capitalize;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        transition: 0.2s ease-in-out;
    }

    .headers figure .navbarIcons:hover .hoverDiv{
        display: block;
    }

    
    .headers figure .navbarIcons .hoverDiv span a:hover{
        color:#cfbb63
    }

    .headers figure .navbarIcons .hoverDiv2{
        color:black;
        display: none;
        position: fixed;
        background-color: rgba(0,0,0,0.9);
        min-width: 250px;
        left:4%;
        top:8%;
        min-height: 140px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 107;
        overflow: auto;
        padding:20px 0px 0px 0px;
        transition: 0.4s ease-in-out;
        text-align: center;
    }

    .headers figure .navbarIcons .hoverDiv2 span{
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        font-size:14px;
        color:white;
        text-transform: none;
        transition: 0.2s ease-in-out;
    }

    .headers figure .navbarIcons .hoverDiv2 img{
        padding-top:1px;
        margin-top:20px;
        position: fixed;
        top:15.5%;
        left:6%;
    }

    .headers figure .navbarIcons .hoverDiv2 #phoneContact{
        padding-top:1px;
        margin-top:20px;
        position: fixed;
        top:21%;
        left:6%;
    }

    .headers figure .navbarIcons:hover .hoverDiv2{
        display: block;
    }

    .headers figure .navbarIcons .hoverDiv3{
        color:black;
        display: none;
        position: fixed;
        background-color: rgba(0,0,0,0.9);
        min-width: 250px;
        left:8%;
        top:8%;
        min-height: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 107;
        overflow: auto;
        padding:20px 0px 0px 0px;
        transition: 0.4s ease-in-out;
        text-align: center;
    }

    .headers figure .navbarIcons .hoverDiv3 span{
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        font-size:14px;
        color:white;
        text-transform: none;
        transition: 0.2s ease-in-out;
    }

    .headers figure .navbarIcons:hover .hoverDiv3{
        display: block;
    }


    .category{
        overflow: hidden;
        color:transparent;
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        transition: 0.5s ease-in;
        justify-content: center;
        padding-bottom:25px;
        height: 100%;
    }

    .category p{
        padding:0px 40px;
        transition: 0.2s ease-in;
        font-size:15px;
    }
    
    .category p:hover{
        font-weight: bolder;
        cursor: pointer;
    }

    .headers figcaption{
        display: none;
    }

    figure{
        display: grid;
        grid-template-columns: 60px 60px auto 60px 60px 60px;
        z-index: 2;
    }

    figure #logo{
        padding:-10px 10px;
        width:7%;
        margin-left: 48%;
        margin-right: auto;
        margin-top:-25px;
    }

    #store{
        width:100%;
        height:0%;
        overflow: hidden;
        background-color: rgba(0,0,0,0.95);
        position: fixed;
        left:0;
        top:0;
        color: #cfbb63;
        font-family: 'Roboto Condensed', sans-serif;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        transition: 0.4s ease-in-out;
        z-index:100;
    }

    #store p{
        font-size:4em;
        padding:0px;
        letter-spacing: 0.2em;
        margin-left: auto;
        margin-right: auto;
    }

    #store #cross{
        font-size: 2em;
    }

    #store #cross:hover{
        cursor: pointer;
        color:orange;
    }

    .dropDownMenu{
        float: left;
        overflow: hidden;
        padding:30px;
        transition: 0.4s ease-in-out;
    }

    .dropDownMenu .dropDownButton{
        border:none;
        outline:none;
        color:white;
        font-size: 16px;
        font-family: 'Roboto',sans-serif;
        background-color:transparent;
        margin-top:60px;
        transition: 0.4s ease-in-out;
    }

    .dropDownButton a{
        color:white;
    }

    .dropDownContent{
        display: none;
        position: fixed;
        left: 0;
        background-color: black;
        width: 100%;
        padding:50px;
        z-index: 2;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        transition: 0.4s ease-in-out;
    }

    .dropDownContent a{
        color:white;
        text-decoration: none;
        padding:30px;
        text-align: center;

    }

    .dropDownContent a:hover{
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 0.05em;
        cursor: pointer;
    }

    .dropDownButton:hover{
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 0.05em;
        cursor: pointer;
    }

    .dropDownMenu:hover .dropDownContent{
        display: block;
    }

    .bannerHead{    
        height: 750px;
        width:100%;
        overflow: hidden;
        position: relative;
        background:#333333;
    }

    .bannerHeading figcaption{
        font-size: 3.5em;
        background-color: transparent;
        width:100%;
        height:auto;
        position: absolute;
        top:80%;
        left:0px;
        color:white;
        font-family:'Roboto', sans-serif;
        font-weight:700;
    }

    .bannerHeading figcaption a button{
        background:#333333;
        margin:20px;
        font-family: 'Roboto', sans-serif;
        font-size:0.4em;
        outline: none;
        padding:30px;
        border: none;
        color: #cfbb63;
        transition: 0.5s ease;
        display: block;
        margin-left: 100px;
        border: 1px solid #333333;
        box-sizing: border-box;
        font-weight: bold;
        border-radius:60px;
    }

    .bannerHeading figcaption a button:hover{
        background-color: black;
        color:#cfbb63;
        cursor: pointer;
    }

    .feature{
        height:750px;
        width:100%;
        color:#cfbb63;
        display: grid;
        grid-template-rows: 20% auto;
        text-align: center;
        background-color: #333333;
    }

    .featureImages{
        display: grid;
        grid-template-columns: 201.6px 201.6px 201.6px 201.6px;
        grid-template-rows: 282.24px 282.24px ;
    }

    .featureImages #reveal1:hover .reveal1{
        opacity: 1;
    }

    .featureImages .featureProducts .reveal1{
        position: absolute;
        top:115%;
        right: 10.5%;
        opacity: 0;
        transition: 0.4s ease-in-out;
    }

    .sectionFeature{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .revealProducts{
        background-color: rgba(0,0,0,0.6);
        width:80%;
        margin:100px;
    }

    .revealProducts p{
        padding:80px 100px 0px 100px;
        font-size: 60px;
        letter-spacing: 2px;
    }

    .featureProductsHeading{
        font-size:50px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0px;
        text-align: center;
        letter-spacing: 2px;
    }

    .featureProducts{
        display: block;
        overflow: hidden;
    }

    .featureProducts img{
        width:100%;
        padding:10px;
    }
    
    .bannerSecond{
        background-image: url('Images/bannerSecond.png');
        height:800px;
        width: 100%;
        position: relative;
        background-position: center;
        background-size: cover;
    }

    .bannerSecond .textHover{
        transition: 0.5s ease-in-out;
        opacity: 0;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .textHover .textHeading{
        background-color: #333333;
        color: #cfbb63;
        font-weight: bold;
        font-size: 32px;
        padding: 16px 32px;
        text-align: center;
        letter-spacing: 1px;
        transition: 0.4s ease-in-out;
    }

    .bannerSecond:hover .textHover{
        opacity: 1;
    }

    .textHeading:hover{
        padding:20px 36px;
        cursor: pointer;
        background-color: rgba(0,0,0,0.8);
    }

    .shopBanner{
        width:100%;
        background:#333333;
        height:250px;
        color: #cfbb63;
        text-align: center;
        padding-top:1em;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 5px;
        font-size: 1.5em;
    }

    .shopBanner figcaption{
        font-size:2em;
        padding:80px 0px 40px 0px;
    }

    .horizontalScroll{
        background-color: #333333;
        height: 650px;
        width:100%;
        display:flex;
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
    }

    .horizontalScroll::-webkit-scrollbar{
        display: none;
    }

    .horizontalScroll .container{
        width:25%;
        position: relative;
        padding:20px;
        flex: 0 0 auto;
    }

    .horizontalScroll .container .imageAvatar{
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: 0.4s ease-in-out;
        backface-visibility: hidden;
    }

    .horizontalScroll .container .text{
        transition: 0.5s ease-in-out;
        opacity: 0;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .horizontalScroll .container .textInfo{
        background-color: #333333;
        color: #cfbb63;
        font-weight: bold;
        font-size: 32px;
        padding: 16px 32px;
        text-align: center;
        letter-spacing: 1px;
        transition: 0.4s ease-in-out;
    }

    .container button{
        width: auto;
        height: auto;
        background-color: #333333;
        outline: none;
        border: none;
        color: #cfbb63;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        margin:200px 0px 0px 0px;
    }

    .container #sideScroll{
        background-color: #cfbb63;
        color: #333333;
        font-family: 'Roboto Condensed', sans-serif;
        border: 1px solid #cfbb63;
        font-weight: bolder;
        border-radius: 60px; 
        margin:10px 5px 0px 80px;
        font-size:15px;        
    }

    .container span{
        color:#cfbb63;
        font-size:20px;
        margin-left:auto;
        margin-right:auto;
    }

    .container:hover .imageAvatar{
        opacity: 0.8;
        filter: blur(1px) grayscale(100%);
    }

    .container:hover .text{
        opacity: 1;
        cursor: pointer;
    }

    .container .textInfo:hover{
        padding:18px 34px;
        font-size: 34px;
        box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.9);
    }

    .tabsBanner{
        overflow: hidden;
        background-color:#333333;
        color:#cfbb63;
        width:100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .tabsBanner button{
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        text-transform: lowercase;
        padding: 14px 16px;
        font-size: 18px;
        color:#cfbb63;
        font-family: 'Roboto',sans-serif;
        font-weight: 600;
        letter-spacing: 3px;
        transition: 0.4s ease-in-out;
    }
    
    .tabsBanner button:hover{
        border-bottom: 1px solid #cfbb63;
    }

    .tabsBanner button.active{
        background-color: rgba(0,0,0,0.6);
    }

    .tabcontent {
        display: none;
        width:100%;
        height:700px;
        padding: 6px 12px;
        color:#cfbb63;
        overflow: hidden;
        -webkit-animation: fadeEffect 2s;
        animation: fadeEffect 2s;
    }

    @-webkit-keyframes fadeEffect {
        from {transform: translateX(-500px);}
        to {transform: translateX(0px);}
      }
      
      @keyframes fadeEffect {
        from {transform: translateX(-800px);opacity: 0;}
        to {transform: translateX(0px);opacity: 1;}
      }

    .tabcontent .tabSection{
        display: grid;
        grid-template-columns: auto 30%;
        padding:50px;
    }

    .tabSection .tabImagesRow{
        display: grid;
        grid-template-columns: auto auto;
        padding:5px 20px;
    }

    .tabSection .tabImagesColumn{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        padding:0 20px;
    }

    .tabImagesColumn img{
        padding:10px;
    }

    .tabSection .tabText{
        background-color: rgba(0,0,0,0.3);
        margin-left:auto;
        margin-right: auto;
        padding:200px 40px 200px 40px;
        width:350px;
        text-align: center;
    }

    .tabText .headingTab{
        font-size: 95px;
        letter-spacing: 2px;
        font-weight: 100;
    }

    .tabText button{
        outline:none;
        border:1px solid #cfbb63;
        padding:10px;
        font-size:20px;
        background-color: transparent;
        color:#cfbb63;
        width:200px;
        font-family: 'Roboto',sans-serif;
        margin:20px 0px 0px 0px;
        font-weight: bolder;
        transition: 0.4s ease-in-out;
    }

    .tabText button:hover{
        color:#333333;
        background-color: #cfbb63;
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
        border:0px;
        cursor: pointer;
    }

    .bannerThird{
        height:700px;
        width:100%;
        background-image: url('Images/bannerThird.png');
        background-size: cover;
        position: relative;
    }

    .bannerThird .textHover{
        transition: 0.5s ease-in-out;
        opacity: 0;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .bannerThird:hover .textHover{
        opacity: 1;
    }


    .collectionBanner{
        height:200px;
        width:100%;
        background-color: #333333;
        color:#cfbb63;
        text-align: center;
        font-size:1.5em;
        letter-spacing: 5px;
    }

    .collectionBanner figcaption{
        padding:50px 0px;
        font-size:2em;
    }

    footer{
        height: 200px;
        width:100%;
        background-color: rgba(0,0,0,0.6);
        display: grid;
        grid-template-rows: 80% 20%;
        color:white;
        text-transform: none;
    }

    footer .footerEssentials{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .footerEssentials .logoSection{
        display: flex;
        flex-direction: column;
        margin-left:20px;
    }

    .footerEssentials .logoSection #footerLogo1{
        width:50px;
        height:50px;
        padding:50px 10px 0px 30px;  
    }

    .footerEssentials .logoSection #footerLogo2{
        width:80px;
        height:30px;
        padding:0px 30px;
    }

    .footerEssentials .helpSection{
        padding:50px 0px;
    }

    .footerEssentials .aboutSection{
        padding:50px 0px;
    }

    .footerEssentials .socialSection{
        padding:50px 0px;
    }

}




