{% extends "Raul/base.html" %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <title>Checkout</title>
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'orders/global.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>

</head>

<body>
<div class="checkoutPage">
    <div class="checkoutBanner">
        <div class="checkoutBannerHeading">
            Secure Checkout
        </div>
    </div>
    <div class="checkoutPageDivision">
        <div class= "leftColumn">

            <!-- First Part -->
            {% if shipping_selected%} 
            <form action="" method="POST" id="payment-form">
                {% csrf_token %}
                <h1>Order Summary</h1>
                <div class ="photoSummary">
                    {% for thing in cart.cartitem_set.all %}
                    <div class = "photoSummaryColumn">
                        <img src = "{{thing.product.image.url}}">
                    </div>
                    <div class = "photoSummaryColumn1">
                        <h1>{{thing}} x {{thing.quantity}}</h1>
                    </div>
                    <div class="photoSummaryColumn2">
                        <h1>{{thing.line_total}}</h1>
                    </div>
                    {% endfor %}
                </div>
                <div class="shippingAccordion"> Shipping and Billing Details </div>
                <div class="boxAlign">
                    <div class='registeredAdds'>
                        <div class="box">
                            <h1> Shipping Addresses</h1>
                            <h5> {{shipping_selected}}</h5>
                            <input  type = "hidden" type = "radio" name="shipping_address" value="{{ shipping_selected.id }}" checked="checked"/> <br/>
                        </div>
                    </div>

                    <div class="registeredAdds">
                        <div class="box">
                            <h1>Billing Addresses</h1>
                            <h5> {{billing_selected}}</h5>
                            <input  type = "hidden" type = "radio" name="billing_address" value="{{ billing_selected.id }}" checked="checked"/> <br/>

                        </div>

                    </div>
                </div>
                
                <h1 id ="dividor">Payment Information</h1>
                <div class="form-row">
                    <label for = "card-element">
                        Credit or Debit card
                    </label>
                    <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>
                <br>
                <input value="purchase" name="pay" type="submit" class="button">
                </form>
        </div>
        <div class="rightColumns">
            <h1>Billing Summary</h1>
            <div class="totalSummary">
                <div class = "totalSummaryColumn1">
                    <h2>Subtotal</h2>
                    <h2>Shipping</h2>
                    <h2>Taxes</h2>
                </div>
                <div class ="totalSummaryColumn2">
                    <h2>${{ order.sub_total}}</h2>
                    <h2>{{order.Shipping}}</h2>
                    <h2>${{ order.tax_total}}</h2>
                </div>
            </div>
            <hr>
            <div class="finalTotal">
                <h2>
                    Total
                </h2>
                <h2>
                    ${{ order.final_total}}
                </h2>
            </div>
        </div>

                <!-- AFTER THIS ELSE
              IT IS THE CASE WHEN THE USER DID NOT ADD THERE ADDRESS
              -->
              <!-- Part Two -->
                {%elif billing_selected%}

                <form action="" method="POST" id="payment-form">
                    {% csrf_token %}
                    <div class='registeredAdd'>
                        <h3> Shipping Addresses</h3>
                        <h3> {{shipping_selected}}</h3>
                        <input  type = "hidden" type = "radio" name="shipping_address" value="{{ shipping_selected.id }}" checked="checked"/> <br/>
                    </div>

                    <div class="registeredAdd">
                        <div class="col-sm-6">
                            <h3>Billing Addresses</h3>
                            <h3> {{billing_selected}}</h3>
                            <input  type = "hidden" type = "radio" name="billing_address" value="{{ billing_selected.id }}" checked="checked"/> <br/>
                        </div>

                    </div>

                    <h1>Payment Information</h1>
                    <div class="form-row">
                        <label for = "card-element">
                            Credit or Debit card
                        </label>
                        <div id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display form errors. -->
                        <div id="card-errors" role="alert"></div>
                    </div>
                    <br>
                    <input value="pay" name="pay" type="submit" class="button">

                    {%else%}
                

            {% if address_form %}
                <button class="accordion">Add New Shipping Address</button>
                <div class = "panel">
                    <form method="POST" action='{% url "ajax_add_user_address" %}?next=checkout'>{% csrf_token %}
                        {{ address_form.as_p}}
                        <input type="submit" class="addButton" value="Add Shipping Address"/>

                    </form>
                </div>
                {% if billing_form %}
                <button class="accordion">Add New Billing Address</button>
                <div class = "panel">
                    <form method="POST" action='{% url "ajax_add_user_billing_address" %}?next=checkout'>{% csrf_token %}
                        {{ billing_form.as_p}}
                        <input type="submit" class="addButton" value="Add Billing Address"/>
                    </form>
                </div>
            {% endif %}
                {% endif %}


            <form action="" method="POST">
                {% csrf_token %}
                {% if current_addresses %}
                    <div class='registeredAdd'>
                        <h3> Shipping Addresses</h3>
                        {% for address in current_addresses %}

                        {% if request.user.userdefaultaddress.shipping.id == address.id %}
                        <input required type ="radio" name="shipping_address" value="{{ address.id }}" checked="checked"/> {{ address.get_address}} <br/>
                        {% else %}
                        <!-- <a href="{% url 'del_add' address.id %}"><img src="{%static 'Raul/Icons/Icons_Small/baseline_delete_outline_white_18dp.png' %}"></a> -->

                        <input required type="radio" name="shipping_address" value="{{ address.id }}"/> {{ address.get_address}} <br/>
                        {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="registeredAdd">
                    {% if billing_addresses %}
                    <div class="col-sm-6">
                        <h3>Billing Addresses</h3>
                        {% for address in billing_addresses %}

                        {% if request.user.userdefaultaddress.shipping.id == address.id %}
                        <input required type="radio" name="billing_address" value="{{ address.id}}" checked="checked"/> {{ address.get_address}} <br/>
                        {% else %}
                        <input required type="radio" name="billing_address" value="{{ address.id}}"/> {{ address.get_address}} <br/>
                        <!-- <a href="{% url 'del_add' address.id %}"><img src="{%static 'Raul/Icons/Icons_Small/baseline_delete_outline_white_18dp.png' %}"></a> -->

                        {% endif %}
                        {% endfor %}
                        <input value="payment" name="add" type="submit" class="button" >
                    </div>
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="rightColumn">
            <div class="summary" >
                <h1> Order Summary</h1>
                <table>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    {% for thing in cart.cartitem_set.all %}
                    <tr>
                        <td>{{ thing }}</td>
                        <td>{{ thing.quantity }}</td>
                        <td>${{ thing.line_total }}</td>
                        <!-- <td>{{thing.product.image.url}}</td> -->
                    </tr>
                    {% endfor %}
                    <tr id = "ruleOut">
                        <td> Subtotal* </td>
                        <td></td>
                        <td> ${{ order.sub_total}} </td>
                    </tr>
                </table>
                <h5>*taxes and shipping fee not applied</h5>
            </div>
        </div>
    </div>
</div>

{%endif%}
<button onclick="topFunction()" id="scrollTop">. </button>
<script>
    function radiocheck() {
        document.getElementById("radio").required;
    }

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
        } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
        } 
    });
    }

    var acc2 = document.getElementsByClassName("shippingAccordion");
    var t;

    for (t = 0; t < acc2.length; t++) {
    acc2[t].addEventListener("click", function() {
        this.classList.toggle("active2");
        var panel2 = this.nextElementSibling;
        if (panel2.style.maxHeight) {
        panel2.style.maxHeight = null;
        } else {
        panel2.style.maxHeight = panel2.scrollHeight + "px";
        } 
    });
    }

    // Create a Stripe client.
    var stripe = Stripe('pk_test_51GsD2nI9Rm3HfGNqDzGloX9dMwz1QCbkCuQfSNc99EUGK4Arw7SVaC6NMGCgQMjii1WtIyEXY9FcRKQ8YCnlY9QK00kwtbjsRr');

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', {style: style});

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.on('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Handle form submission.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {
                // Inform the user if there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
            }
        });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
    }
</script>
</body>
</html>
{% endblock %}
