<!DOCTYPE html>
<html lang="en">

<style>
    body {
        background-color: black;
    }
    #Order Confirm a{
        color: #cfbb63;
        font-size:500px

    }

</style>
<head>
    <meta charset="UTF-8">
    <title>Order Confirmed</title>
</head>
<body>
<div id="Order Confirm">
    <a>Order Confirmed</a>
</div>


<h2>  Order Number : {{ order.order_id }}</h2>
<h2> Shipping to : {{ shipping_address }}</h2>
<h2> Billing to: {{ billing_address}}</h2>

{% for thing in cart.cartitem_set.all %}
<h2> {{ thing }}</h2>
{% endfor %}

</body>
</html>