{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Header Nav Bar-->
    <title>Raul Retail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type = "text/css" href="{% static 'Raul/CSS/main.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">


<body>

<!-- Header Nav Bar-->

<div class = "headers" id="headerOnScroll">
    <figure id="figureOnScroll">

        <img src="{% static 'Raul/Images/raullogo.png' %}" alt="logo" width="6%"  onclick="openStore()" id="logo">

        {% if user.is_authenticated %}
        <a href="{% url 'Raul-SecondHome' %}"><p> <img src="{% static 'Raul/Icons/Icons_Small/home.png' %}"> </p></a>
        <a href="{% url 'logout' %}"> <p> Logout </p></a>
        <a href="{% url 'cart' %}"> <p> <img src="{% static 'Raul/Icons/Icons_Small/cart.png' %}"> </p></a>
        <a href="{% url 'profile' %}"> <p> <img src="{% static 'Raul/Icons/Icons_Small/login.png' %}"> </p></a>

        {% else %}
        <a href="{% url 'Raul-SecondHome' %}"><p> <img src="{% static 'Raul/Icons/Icons_Small/home.png' %}"> </p></a>
        <a href="{% url 'login' %}"> <p><img src="{% static 'Raul/Icons/Icons_Small/login.png' %}"> </p></a>
        <a href="{% url 'cart' %}"> <p><img src="{% static 'Raul/Icons/Icons_Small/cart.png' %}"> </p></a>
        {% endif %}

    </figure>

    <div class="category" id="hideOnScroll">

        <p> New Arrivals </p>

        <p> Decorative Accessories</p>
        
        <p>Tabletop</p>
        
        <p>Furniture</p>

        <p>Floral</p>
        
        <p>Wall Art</p>

        <p>All Products</p>
        
        <p>Sale</p>
        
        <p>Venue Bookings</p>

    </div>

    <figcaption><img src="{% static 'Raul/Images/raullogo.png' %}" alt="logo" width="6%" id="logo"></figcaption>

    <nav>
        <img src= "{% static 'Raul/Images/hamburgerIcon.png' %}" class="menuBar" id="menuHam" onclick="openNav()" draggable="false">
        <ul id="contentHam">

            <li class="exitButton">
                <img src="{% static 'Raul/CSS/exit.svg' %}" id="exitButton" onclick="closeNav()" draggable="false">
            </li>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Store</a>
            </li>
            <li>
                <a href="{% url 'register' %}">Register</a>
            </li>
            <li>
                <a href="{% url 'register' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'cart' %}">Cart</a>
            </li>



        </ul>
    </nav>
    
</div>


<div class="container">
    <div class = "container1">
        {% block content %}{% endblock %}
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script type="text/javascript"  src="https://js.stripe.com/v2/"></script>
<script>
    AOS.init();
</script>
<script src="{% static 'Raul/JS/script.js' %}" charset="UTF-8"></script>
</body>
</html>