{% extends "Raul/base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css""> -->
    <link rel="stylesheet" type="text/css" href="{% static 'Raul/shopping-cart.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

     <!-- Favicons -->
     <link rel="apple-touch-icon" sizes="57x57" href="{% static 'Raul/Favicons/apple-icon-57x57.png' %}">
     <link rel="apple-touch-icon" sizes="60x60" href="{% static 'Raul/Favicons/apple-icon-60x60.png'%}">
     <link rel="apple-touch-icon" sizes="72x72" href="{% static 'Raul/Favicons/apple-icon-72x72.png'%}">
     <link rel="apple-touch-icon" sizes="76x76" href="{% static 'Raul/Favicons/apple-icon-76x76.png'%}">
     <link rel="apple-touch-icon" sizes="114x114" href="{% static 'Raul/Favicons/apple-icon-114x114.png'%}">
     <link rel="apple-touch-icon" sizes="120x120" href="{% static 'Raul/Favicons/apple-icon-120x120.png'%}">
     <link rel="apple-touch-icon" sizes="144x144" href="{% static 'Raul/Favicons/apple-icon-144x144.png'%}">
     <link rel="apple-touch-icon" sizes="152x152" href="{% static 'Raul/Favicons/apple-icon-152x152.png'%}">
     <link rel="apple-touch-icon" sizes="180x180" href="{% static 'Raul/Favicons/apple-icon-180x180.png'%}">
     <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'Raul/Favicons/android-icon-192x192.png'%}">
     <link rel="icon" type="image/png" sizes="32x32" href="{% static 'Raul/Favicons/favicon-32x32.png'%}">
     <link rel="icon" type="image/png" sizes="96x96" href="{% static 'Raul/Favicons/favicon-96x96.png'%}">
     <link rel="icon" type="image/png" sizes="16x16" href="{% static 'Raul/Favicons/favicon-16x16.png'%}">
     <link rel="manifest" href="{% static 'Raul/Favicons/manifest.json'%}">
     <meta name="msapplication-TileColor" content="#ffffff">
     <meta name="msapplication-TileImage" content="{% static 'Raul/Favicons/ms-icon-144x144.png'%}">
     <meta name="theme-color" content="#ffffff">

</head>
<body>
<main class="page">
    <section class="shopping-cart dark">
        <div class="container2">
            <div class="block-heading">
                <p>Shopping Cart</p>
                {% if empty %}
                <h1> {{ empty_message}} </h1>
                {% endif %}
            </div>
            <div class="content">
                <div class="row">
                    <div class="column">
                        <div class="items">
                            {% for item in cart.cartitem_set.all %}
                            <div class="product">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="img-fluid mx-auto d-block image" src="{{item.product.image.url}}">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="info">
                                            <div class="row2">
                                                <div class="col-md-5 product-name">
                                                    <div class="product-name">

                                                        <a href="{% url 'Raul-single' item.product.slug %}">{{item.product}}</a>
                                                        <div class="product-info">
                                                            <div>Description: <span class="value">{{item.product.description}}</span></div>
                                                            {% for sub_item in item.variation.all%}
                                                                <div> <span class="value">{{sub_item.title}}</span></div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 quantity">
                                                    <form class= 'form pull-right' method='POST' action="{% url 'update_cart' item.product.slug %}">
                                                        {% if empty %}
                                                        <h1> {{ empty_message}} </h1>
                                                        {% endif %}

                                                        {% csrf_token %}
                                                        <input name='qty' class= "quantityPlace" type='number' min="0" placeholder={{item.quantity}} value='{{item.quantity}}' />
                                                       {% if item.variation.colors %}
                                                        {% for sub_item in item.variation.colors%}
                                                        <input name="color" type="hidden" value= '{{sub_item.title}}'/>
                                                        {% endfor %}
                                                        {% endif %}


                                                        {% if item.variation.sizes %}
                                                        {% for sub_item in item.variation.sizes%}
                                                        <input name="size" type="hidden" value= '{{sub_item.title}}'/>
                                                        {% endfor %}
                                                        {% endif %}


                                                        <input type='submit' value='update cart'/>
                                                    </form>
                                                    <a href="{% url 'remove_from_cart' item.id %}"><img src="{%static 'Raul/Icons/Icons_Small/baseline_delete_outline_white_18dp.png' %}"></a>



                                                </div>

                                                <div class="colmd3 price">
                                                    <span> ${{item.line_total}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Summary</h3>
                            <div class="summary-item"><span class="text">Subtotal</span><span class="price">${{ cart.total}}</span></div>
                            <a type="button" class="btn btn-primary btn-lg btn-block"  href="{% url 'checkout'  %}"> Checkout</a>
                        </div>
                    </div>
                </div> -->
                </div>
            </div>
        </div>
    </section>
    <div class="summary">
        <div class="summary-item"><span class="text">Subtotal:</span><span class="price">${{cart.total}}</span></div>

        <a type="button" class="buttonCheckout"  href="{% url 'checkout'  %}">Checkout</a>

    </div>
</main>
<button onclick="topFunction()" id="scrollTop"> <img src="{% static 'Raul/Images/arrowDown.png' %}"> </button>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}





