<!DOCTYPE html>
{% extends "Raul/base.html" %}
{% block content %}
{% load static %}

<head>
    <title>Bootstrap Product Grid</title>
    <!-- Bootstrap css -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></head> -->

    <!-- Style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'Raul/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">

</head>

<body>
<div class="productBanner">
    <div class="productBanner-heading">
        <p>{{cats}} {{sec}}</p>
    </div>
    <hr>
</div>

<div class="productContainer">


    <div class="row" id="scrollHere">
        {% for product in cat_products %}


            <input type="hidden" name='qty' type='number' placeholder='Quantity' class = "numberOfItems" min="1" max="50" value="1">

            <div class="productCard">
            <div class="image">
                <a href="{% url 'Raul-single' product.slug %}" >
                    <img src="{{ product.image.url }}" class="productImage">
                </a>
                <div class="overlay">
                    <div class="actions">
                        <form method='POST' action="{% url 'ajax_add_to_cart' product.slug %}">
                            {% csrf_token %}
                            <input type="hidden" name='qty' type='number' placeholder='Quantity' class = "numberOfItems" min="1" max="50" value="1">
                            <input type='submit' value='Add to cart' onclick="cartNotification()">
                            </form>

                    </div>
                </div>
            </div>
            <h5 class="productTitle">{{product.title}}</h5>
                {% if product.variation %}
            <h5 class="productPrice">varies</h5>
                {% else %}
                <h5 class="productPrice">${{product.price}}</h5>
                {% endif %}
        </div>
            </form>
        {% endfor %}
    </div>

</div>

<button onclick="topFunction()" id="scrollTop"> <img src="{% static 'Raul/Images/arrowDown.png' %}"> </button>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script type="text/javascript">
    $(window).load(function(){
        if ($('#refreshed').val() == "false") {
            $('#refreshed').val("true");
        }
        else {
            $('#refreshed').val("false");
            location.reload();
        }
    });
</script>
</body>

</html>
{% endblock %}