<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<html lang="en">
<head>

    <title>
        Raul Retail
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'Raul/CSS/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'Raul/Favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'Raul/Favicons/apple-icon-60x60.png'%}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'Raul/Favicons/apple-icon-72x72.png'%}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'Raul/Favicons/apple-icon-76x76.png'%}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'Raul/Favicons/apple-icon-114x114.png'%}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'Raul/Favicons/apple-icon-120x120.png'%}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'Raul/Favicons/apple-icon-144x144.png'%}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'Raul/Favicons/apple-icon-152x152.png'%}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'Raul/Favicons/apple-icon-180x180.png'%}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'Raul/Favicons/android-icon-192x192.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'Raul/Favicons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'Raul/Favicons/favicon-96x96.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'Raul/Favicons/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'Raul/Favicons/manifest.json'%}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'Raul/Favicons/ms-icon-144x144.png'%}">
    <meta name="theme-color" content="#ffffff">

</head>
<body>

    <div id="id01" class="modal">

        <form class="modal-content animate" action="" method="POST">
            <div class="imgcontainer">
                <p> SIGN IN</p>
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Login Pop-up">&times;</span>
            </div>
            <div>
                <div class="centerIt">
                    {%csrf_token%}
                    {{form.as_p}}
                    <button value="Login" name="login" type="submit">Login</button>
                </div>
            </div>

            <div class="centerIt" id="links">
                <!-- <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small> -->
               <span class="psw"><a href="{% url 'password_reset' %}">Forgot password?</a></span>
                <span class="psw" id ="accountCreate"><a href="{% url 'register' %}">Create an Account</a></span>
            </div>
        </form>
    </div>
    <div id="id02" class="modal2">

        <form class="modal-content animate" action="" method="POST">
            <div class="imgcontainer">
                <p> create an account</p>
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Login Pop-up">&times;</span>
            </div>
            <div>
                <div class="centerIt" id="hi">
                    {%csrf_token%}
                    {{ Register_form.as_table }}
                    <input type="submit" name="register" value="Register" class="button">
                </div>
            </div>
            
            <div class="centerIt">
                
                <span class="psw" id ="accountCreate2"><a href="#">Already have an Account?</a></span>
            </div>
        </form>
    </div>

    <div class = "headers" id = "headerOnScroll">
        <figure id="figureOnScroll">
            <div class="navbarIcons"> 
                <p><img src="{% static 'Raul/Icons/Icons_Small/phone.png' %}" alt="Contact Us"></p>
                <div class="hoverDiv2">
                    <span style="letter-spacing: 2px;">CONTACT US</span><br><br><br>
                    <img src="{% static 'Raul/Icons/Icons_Small/email.png' %}"> <span>raul@raulavilainc.com</span><br><br>
                    <img src="{% static 'Raul/Icons/Icons_Small/phone.png' %}" id="phoneContact"> <span> (347)-432-5436</span>
                </div>
            </div>

            <div class="navbarIcons"> 
                <p><img src="{% static 'Raul/Icons/Icons_Small/location.png' %}" alt="Location"></p>
                <div class="hoverDiv3">
                    <span style="letter-spacing: 2px;">VISIT US</span><br><br><br>
                    <span>216 8th Avenue, <br>New York, NY 10011</span><br><br>
                    <span>Seven Days a Week</span><br><br>
                    <span>9:00AM - 8:00PM</span>
                </div>
            </div>

            <img src="{% static 'Raul/Images/raullogo.png' %}" alt="Raul Logo" width="6%"  onclick="openStore()" id="logo">

            {% if user.is_authenticated %}
            <a href="{% url 'Raul-SecondHome' %}"><p> <img src="{% static 'Raul/Icons/Icons_Small/home.png' %}" alt="Home"> </p></a>
            <div class="navbarIcons"> 
                <p><img src="{% static 'Raul/Icons/Icons_Small/login.png' %}" alt="Login"></p>
                <div class="hoverDiv">
                    <span><a href="{% url 'profile' %}">Profile</a></span><br><br>
                    <span><a href="{% url 'logout' %}"> Logout </a></span>
                </div>
            </div>
            <a href="{% url 'cart' %}" title="Shopping Cart"> <p> {{request.session.items_total}}  <img src="{% static 'Raul/Icons/Icons_Small/cart.png' %}" alt="Shopping Cart" > </p></a>

            {% else %}
            <a href="{% url 'Raul-SecondHome' %}"><p> <img src="{% static 'Raul/Icons/Icons_Small/home.png' %}" alt="Home"> </p></a>
            <div class="navbarIcons"> 
                <p title="Login or Register"><img src="{% static 'Raul/Icons/Icons_Small/login.png' %}" alt="Login"></p>
                <div class="hoverDiv" title="Login or Register">
                    <span><a href="#" onclick="document.getElementById('id01').style.display='block'">Login</a></span><br><br>
                    <span><a href="#" onclick="document.getElementById('id02').style.display='block'">Register</a></span>
                </div>
            </div>
            <a href="{% url 'cart' %}" title="Shopping Cart"> <p>{{request.session.items_total}}    <img src="{% static 'Raul/Icons/Icons_Small/cart.png' %}" alt="Cart"> </p></a>
            {% endif %}

        </figure>

        <div class="category" id="hideOnScroll">

            <div class = "dropDownMenu">
                <p class="dropDownButton"><a  href="{% url 'sec-view' 'New Arrivals' %}">New Arrivals</a></p>
                <div class="dropDownContent">
                    <div class="dropDownContentLinks">
                        <a>Colored Glass Collection</a>
                        <a>Floral Bird Cachepot Collection</a>
                        <a>Blue Wave Cachepot & Bone Frame Collection</a>
                        <a>Clear Glass Collection</a>
                        <a>Lexi Cachepot & Cream Tealight Collection</a>
                        <a>Ceramic & Cement Pot Collection</a>
                        <a>Smoked Cut Glass Collection</a>
                        <a>eylissa & norro vase collection</a>
                    </div>
                </div>
            </div>
            <div class = "dropDownMenu">
                <p class="dropDownButton"><a  href="{% url 'sec-view' 'Decorative Accessories' %}">Decorative Accessories</a></p>
                <div class="dropDownContent">
                    <div class="dropDownContentLinks">
                        <a href="{% url 'cat-view' 'Candlelight' %}">Candlelight</a>
                        <a href="{% url 'cat-view' 'Decorative Objects' %}">Decorative Objects</a>
                        <a  href="{% url 'cat-view' 'Urns' %}">Urns</a>
                        <a  href="{% url 'cat-view' 'Vases and Cachepots' %}">Vases & Cachepots</a>
                    </div>
                </div>
                
            </div>
            
            <div class = "dropDownMenu">
                <p class="dropDownButton"><a  href="{% url 'sec-view' 'Tabletop' %}">Tabletop</a></p>
                <div class="dropDownContent">
                    <div class="dropDownContentLinks">
                        <a href="{% url 'cat-view' 'Dinnerware' %}">Dinnerware</a>
                        <a  href="{% url 'cat-view' 'Pitchers' %}">Pitchers</a>
                    </div>

                </div>
            </div>
            
            <div class = "dropDownMenu">
                <p class="dropDownButton"><a  href="{% url 'sec-view' 'Furniture' %}">Furniture</a></p>
                    <div class="dropDownContent">
                        <div class="dropDownContentLinks">
                            <a  href="{% url 'cat-view' 'Chairs' %}">Chairs</a>
                            <a  href="{% url 'cat-view' 'End Tables' %}">End Tables</a>
                            <a  href="{% url 'cat-view' 'Ottoman & Benches' %}">Ottoman & Benches</a>
                            <a  href="{% url 'cat-view' 'Outdoor Furniture' %}">Outdoor Furniture</a>
                        </div>
                    </div>
            </div>

                      
            <div class = "dropDownMenu">
                <p class="dropDownButton"><a  href="{% url 'sec-view' 'Floral' %}">Floral</a></p>
            </div>

            <div class = "dropDownMenu">
                <p class="dropDownButton"><a  href="{% url 'sec-view' 'Wall Art' %}">Wall Art</a></p>
                <div class="dropDownContent">
                    <div class="dropDownContentLinks">
                        <a  href="{% url 'cat-view' 'Artwork' %}">ArtWork</a>
                        <a  href="{% url 'cat-view' 'Mirrors' %}">Mirrors</a>
                    </div>
                </div>
            </div>


            <div class = "dropDownMenu">
                <p class="dropDownButton"><a  href="{% url 'Raul-product' %}">All Products</a></p>
            </div>


            <div class = "dropDownMenu">
                <p class="dropDownButton" ><a  href="{% url 'sec-view' 'Sale' %}">Sale</a></p>
                <div class="dropDownContent">
                    <div class="dropDownContentLinks">
                        <a  href="{% url 'cat-view' 'All Sale Items' %}">All Sale Items</a>
                        <a  href="{% url 'cat-view' 'Bowls' %}">Bowls</a>
                        <a  href="{% url 'cat-view' 'Candlelight' %}">Candlelight</a>
                        <a  href="{% url 'cat-view' 'Glasswear' %}">Glasswear</a>
                        <a href="{% url 'cat-view' 'Vases & Cachepots' %}">Vases and Cachepots</a>
                        <a href="{% url 'cat-view' 'Votives' %}">Votives</a>
                        <a>f</a>
                    </div>
                </div>
            </div>
            
            <p class="dropDownButton"><a>Venue Bookings</a></p>


        </div>
    </div>

    <div class="mobile-headers">
        <figcaption><img src="{% static 'Raul/Images/raullogo.png' %}" alt="logo" width="6%" id="logo" onclick="openStore()"></figcaption>

        <nav>
            <div class ="mobile-actions">
                <a href="{% url 'login' %}" title="Shopping Cart" id = "mobile-shopping"><img src = "{% static 'Raul/Icons/Icons_Large/login.png' %}" alt="Login"></a>
            <a href="{% url 'cart' %}" title="Shopping Cart" id = "mobile-shopping"><img src="{% static 'Raul/Icons/Icons_Large/cart.png' %}" alt="Cart"></a>
            <a><img src = "{% static 'Raul/Images/hamburgerIcon.png' %}" class="menuBar" id="menuHam" onclick="openNav()" draggable="false"></a>
            </div>
            <ul id="contentHam">

                <li class="exitButton">
                    <img src="{% static 'Raul/CSS/exit.svg' %}" id="exitButton" onclick="closeNav()" draggable="false">
                </li>
                <li>
                    <div class = "menuDropdown">
                        <button class = "mobile-dropdownButton" onclick = "mobileDropDown()">
                            new arrivals
                            <i class="arrow down"></i>
                        </button>
                        <div id="mobile-dropdown" class="mobile-dropdownContent">
                            <a href="#home">Home</a>
                            <a href="#about">About</a>
                            <a href="#Venue Book">Contact</a>
                          </div>
                    </div>
                </li>
                <li>
                    <div class = "menuDropdown">
                        <button class = "mobile-dropdownButton" onclick = "mobileDropDown2()">
                            decorative accessories
                            <i class="arrow down"></i>
                        </button>
                        <div id="mobile-dropdown2" class="mobile-dropdownContent">
                            <a href="{% url 'cat-view' 'Candlelight' %}">Candlelight</a>
                            <a href="{% url 'cat-view' 'Decorative Objects' %}">Decorative Objects</a>
                            <a  href="{% url 'cat-view' 'Urns' %}">Urns</a>
                            <a  href="{% url 'cat-view' 'Vases and Cachepots' %}">Vases & Cachepots</a>
                          </div>
                    </div>
                </li>
                <li>
                    <div class = "menuDropdown">
                        <button class = "mobile-dropdownButton" onclick = "mobileDropDown3()">
                            tabletop
                            <i class="arrow down"></i>
                        </button>
                        <div id="mobile-dropdown3" class="mobile-dropdownContent">
                            <a href="{% url 'cat-view' 'Dinnerware' %}">Dinnerware</a>
                            <a  href="{% url 'cat-view' 'Pitchers' %}">Pitchers</a>
                          </div>
                    </div>
                </li>
                <li>
                    <div class = "menuDropdown">
                        <button class = "mobile-dropdownButton" onclick = "mobileDropDown4()">
                            furniture
                            <i class="arrow down"></i>
                        </button>
                        <div id="mobile-dropdown4" class="mobile-dropdownContent">
                            <a  href="{% url 'cat-view' 'Chairs' %}">Chairs</a>
                            <a  href="{% url 'cat-view' 'End Tables' %}">End Tables</a>
                            <a  href="{% url 'cat-view' 'Ottoman & Benches' %}">Ottoman & Benches</a>
                            <a  href="{% url 'cat-view' 'Outdoor Furniture' %}">Outdoor Furniture</a>
                          </div>
                    </div>
                </li>
                <li>
                    <div class = "menuDropdown">
                        <button class = "mobile-dropdownButton" >
                            floral
                        </button>
                    </div>
                </li>
                <li>
                    <div class = "menuDropdown">
                        <button class = "mobile-dropdownButton" onclick = "mobileDropDown5()">
                            wall art
                            <i class="arrow down"></i>
                        </button>
                        <div id="mobile-dropdown5" class="mobile-dropdownContent">
                            <a  href="{% url 'cat-view' 'Artwork' %}">ArtWork</a>
                            <a  href="{% url 'cat-view' 'Mirrors' %}">Mirrors</a>
                          </div>
                    </div>
                </li>
                <li>
                    <div class = "menuDropdown">
                        <button class = "mobile-dropdownButton">
                            all products
                        </button>
                    </div>
                </li>
                <li>
                    <div class = "menuDropdown">
                        <button class = "mobile-dropdownButton" onclick = "mobileDropDown6()">
                            sale
                            <i class="arrow down"></i>
                        </button>
                        <div id="mobile-dropdown6" class="mobile-dropdownContent">
                            <a  href="{% url 'cat-view' 'All Sale Items' %}">All Sale Items</a>
                            <a  href="{% url 'cat-view' 'Bowls' %}">Bowls</a>
                            <a  href="{% url 'cat-view' 'Candlelight' %}">Candlelight</a>
                            <a  href="{% url 'cat-view' 'Glasswear' %}">Glasswear</a>
                            <a href="{% url 'cat-view' 'Vases & Cachepots' %}">Vases and Cachepots</a>
                            <a href="{% url 'cat-view' 'Votives' %}">Votives</a>
                          </div>
                    </div>
                </li>
                <li>
                    <div class = "menuDropdown">
                        <button class = "mobile-dropdownButton" onclick = "mobileDropDown()">
                            venue bookings
                        </button>
                    </div>
                </li>


            </ul>
        </nav>
    </div>

    <div id ="store">
        <p onclick="closeStore()" id="cross">
            X
        </p>

        <p>
            cafe flor
        </p>

        <p>
            raul
        </p>

        <p>
            third
        </p>

    </div>

    <div>
        {% if messages %}
        <div class="popUpMessage">
            <div class="messageRegister">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>


    <div class ="bannerHead" id = "mainBanner">
        <video src="{% static 'Raul/Images/Raul_Movie_Fast.mp4' %}" autoplay loop muted id = "videoBG"></video>
        <div class = "bannerHeading">
            <figcaption><a href="#shop"><button> explore the shop </button></a></figcaption>
        </div>
    </div>

    <div class="mobile-featured">
        <div class ="featureProductsHeading" >
            featured products
        </div>
        <div class="mobileGrid">
            {%for item in Feat%}
                    <img src="{{item.product.image.url}}" draggable="false" alt="Furniture Photo" class="imageAvatar">
            {%endfor%}
                </div>

           
        </div>
    </div>

    <div class ="mobile-shopBanner">
        <figcaption> shop by category</figcaption>
    </div>

    <div class="furniture" id ="FurnitureSec">
        <div class="shopBack">
            <div class="furnitureHeading">                
                <span>FURNITURE</span>
                <a href="{%url 'login' %}">see more</a>  
            </div>

            <div class ="furnitureImages">
                <img src="{%static 'Raul/Images/1.jpg'%}" draggable="false" alt="Furniture Photo" class="staticImage">
                <img src="{%static 'Raul/Images/2.jpg'%}" draggable="false" alt="Furniture Photo" class="staticImage">
            </div>
        </div>
    </div>

    <div class="furniture" id ="LightingSec">
        <div class="shopBack" id="lighting">
            <div class="furnitureHeading">
                <span>LIGHTING</span>
                <a href="{%url 'login' %}">see more</a>  
            </div>

            <div class ="furnitureImages">
                <img src="{%static 'Raul/Images/3.jpg'%}" draggable="false" alt="Furniture Photo" class="staticImage">
                <img src="{%static 'Raul/Images/4.jpg'%}" draggable="false" alt="Furniture Photo" class="staticImage">
            </div>
        </div>
    </div>

    <div class="furniture" id ="FlowerSec">
        <div class="shopBack" id="flower">
            <div class="furnitureHeading">
                <span>FLORAL</span>
                <a href="{%url 'login' %}">see more</a>  
            </div>

            <div class ="furnitureImages">
                <img src="{%static 'Raul/Images/5.jpg'%}" draggable="false" alt="Furniture Photo" class="staticImage">
                <img src="{%static 'Raul/Images/6.jpg'%}" draggable="false" alt="Furniture Photo" class="staticImage">
            </div>
        </div>
    </div>

    <div class="furniture" id ="TableSec">
        <div class="shopBack" id="table">
            <div class="furnitureHeading">
                <span>TABLETOP</span>
                <a href="{%url 'login' %}">see more</a>  
            </div>

            <div class ="furnitureImages">
                <img src="{%static 'Raul/Images/7.jpg'%}" draggable="false" alt="Furniture Photo" class="staticImage">
                <img src="{%static 'Raul/Images/8.jpg'%}" draggable="false" alt="Furniture Photo" class="staticImage">
            </div>
        </div>
    </div>

    <div class="furniture" id ="WallSec">
        <div class="shopBack" id="wall">
            <div class="furnitureHeading">
                <span> WALLART </span>
                <a href="{%url 'login' %}">see more</a>  
            </div>

            <div class ="furnitureImages" id ="DecorativeSec">
                <img src="{%static 'Raul/Images/9.jpg'%}" draggable="false" alt="Furniture Photo" class="staticImage">
                <img src="{%static 'Raul/Images/10.jpg'%}" draggable="false" alt="Furniture Photo" class="staticImage">
            </div>
        </div>
    </div>

    <div class="furniture" id ="DecorativeSec">
        <div class="shopBack" id="decorative">
            <div class="furnitureHeading">                
                <span>DECORATIVE</span>
                <a href="{%url 'login' %}">see more</a>  
            </div>

            <div class ="furnitureImages">
                <img src="{%static 'Raul/Images/11.jpg'%}" draggable="false" alt="Furniture Photo" class="staticImage">
                <img src="{%static 'Raul/Images/5.jpg'%}" draggable="false" alt="Furniture Photo" class="staticImage">
            </div>
        </div>
    </div>

    <div class="filler" id ="borderBottom"></div>
    ]

    <div class="horizontalScroll" id="shop">
        <div class ="featureProductsHeading" >
            featured products
        </div>
        <div class="filler"></div>
        <div class="marquee">
            <ul class="marqueeContent">
                {%for item in Feat%}
                <li>
                    <div class = "container" data-aos="fade-in">
                        <img src="{{item.product.image.url}}" draggable="false" alt="Furniture Photo" class="imageAvatar">
                        <div class = "text">
                            <a href ="{% url 'Raul-single' item.product.slug %}">   <div class = "textInfo"> {{item.product.title}}    </div></a>
                        </div>
                    </div>
                </li>
              {%endfor%}
            </ul>
        </div>
    </div>
    <div class="filler"></div>
    
    <div class="filler" id ="borderBottom"></div>

    <div class ="shopBanner">
        <figcaption> shop by category </figcaption>
    </div>

    <div class="tabsBanner">
        <button class="tablinks" onclick="openCity(event, 'Furniture')" id="defaultOpen">Furniture</button>
        <button class="tablinks" onclick="openCity(event, 'Floral')">Floral</button>
        <button class="tablinks" onclick="openCity(event, 'WallArt')">Wall Art</button>
        <button class="tablinks" onclick="openCity(event, 'TableTop')">Table Top</button>
        <button class="tablinks" onclick="openCity(event, 'DecAcc')">Decorative Accessories</button>
    </div>

    <div id="Furniture" class="tabcontent">
        <div class="tabSection">
            
            <div class="tabText">
                <div class="headingTab">
                    furniture
                </div>
                <a  href="{% url 'sec-view' 'Furniture' %}"><button>shop now</button></a>
            </div>
            <div class="tabImagesRow">
                <!-- <div class="tabImagesColumn">
                    <img src="{% static 'Raul/Images/furniture.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                    <img src="{% static 'Raul/Images/furniture2.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                    <img src="{% static 'Raul/Images/furniture3.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                    <img src="{% static 'Raul/Images/furniture4.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                </div> -->
                <img src="{% static 'Raul/Images/FurnitureCategory.jpg' %}" draggable="false" alt="Furniture Photo" width="100%">
            </div>
            
        </div>
    </div>
      
    <div id="Floral" class="tabcontent">
        <div class="tabSection">
            <div class="tabText">
                <div class="headingTab">
                    floral
                </div>
                <a  href="{% url 'sec-view' 'Floral' %}"><button>shop now</button></a>
            </div>
            <div class="tabImagesRow">
                <!-- <div class="tabImagesColumn">
                    <img src="{% static 'Raul/Images/floral.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                    <img src="{% static 'Raul/Images/floral2.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                    <img src="{% static 'Raul/Images/floral4.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                    <img src="{% static 'Raul/Images/floral3.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                </div>
                <img src="{% static 'Raul/Images/8.jpg' %}" draggable="false" alt="Furniture Photo" width="100%"> -->
                <img src="{% static 'Raul/Images/FloralCategory.jpg' %}" draggable="false" alt="Furniture Photo" width="100%">
            </div>
        </div>
    </div>
    


    <div id="WallArt" class="tabcontent">
        <div class="tabSection">
            <div class="tabText">
                <div class="headingTab">
                    wall art
                </div>
                <a  href="{% url 'sec-view' 'Wall Art' %}"><button>shop now</button></a>
            </div>
            <div class="tabImagesRow">
                <!-- <div class="tabImagesColumn">
                    <img src="{% static 'Raul/Images/wallart3.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                    <img src="{% static 'Raul/Images/wallart2.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                    <img src="{% static 'Raul/Images/wallart4.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                    <img src="{% static 'Raul/Images/wallart.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                </div>
                <img src="{% static 'Raul/Images/2.jpg' %}" draggable="false" alt="Furniture Photo" width="100%"> -->
                <img src="{% static 'Raul/Images/WallArtCategory.jpg' %}" draggable="false" alt="Furniture Photo" width="100%">
            </div>
            
        </div>
    </div>
    
    <div id="TableTop" class="tabcontent">
        <div class="tabSection">
            <div class="tabText">
                <div class="headingTab">
                    tabletop
                </div>
                <a  href="{% url 'sec-view' 'Tabletop' %}"><button>shop now</button></a>
            </div>
            <div class="tabImagesRow">
                <!-- <div class="tabImagesColumn">
                    <img src="{% static 'Raul/Images/tabletop.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                    <img src="{% static 'Raul/Images/tabletop2.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                    <img src="{% static 'Raul/Images/tabletop3.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                    <img src="{% static 'Raul/Images/tabletop4.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                </div>
                <img src="{% static 'Raul/Images/3.jpg' %}" draggable="false" alt="Furniture Photo" width="100%"> -->
                <img src="{% static 'Raul/Images/TabletopCategory.jpg' %}" draggable="false" alt="Furniture Photo" width="100%">
            </div>
        </div>
    </div>
    
    <div id="DecAcc" class="tabcontent">
        <div class="tabSection">
            <div class="tabText">
                <div class="headingTab" id ="decorativeHeading">
                    decorative accessories
                </div>
                <a  href="{% url 'sec-view' 'Decorative Accessories' %}"><button>shop now</button></a>
            </div>
            <div class="tabImagesRow">
                <!-- <div class="tabImagesColumn">
                    <img src="{% static 'Raul/Images/furniture.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                    <img src="{% static 'Raul/Images/furniture2.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                    <img src="{% static 'Raul/Images/furniture3.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                    <img src="{% static 'Raul/Images/furniture4.jpg' %}" draggable="false" alt="Furniture Photo" width="93%">
                </div>
                <img src="{% static 'Raul/Images/6.jpg' %}" draggable="false" alt="Furniture Photo" width="100%"> -->
                <img src="{% static 'Raul/Images/DecoAcc.jpg' %}" draggable="false" alt="Furniture Photo" width="100%">
            </div>
        </div>
    </div>

    <div class="filler" id ="borderBottom"></div>
    <div class="filler"></div>

    <div class ="featureProductsHeading" >
        shop by layout
    </div>

    <div class="filler"></div>

    <div class ="bannerSecond">
        <div class="roundCircle">
            <div class="productDisplay">
                <img src="{%static 'Raul/Images/Raul Website/Photo May 20, 5 03 10 PM.jpg' %}">
                <p>graffiti wall art</p>
                <h6>$120.00</h6>
            </div>
        </div>

        <div class="roundCircle2">
            <div class="productDisplay">
                <a href="{% url 'sec-view' 'Shopping The Layout' %}" >
                    <img src="{%static 'Raul/Images/Raul Website/Photo May 20, 5 03 10 PM.jpg' %}">
                </a>
                <p>confetti plate</p>
                <h6>$120.00</h6>
            </div>
        </div>

        <div class="roundCircle3">
            <div class="productDisplay">
                <img src="{%static 'Raul/Images/Raul Website/Photo May 20, 5 03 10 PM.jpg' %}">
                <p>champagne glass</p>
                <h6>$120.00</h6>
            </div>
        </div>

        <div class="roundCircle4">
            <div class="productDisplay">
                <img src="{%static 'Raul/Images/Raul Website/Photo May 20, 5 03 10 PM.jpg' %}">
                <p>hara podha</p>
                <h6>$120.00</h6>
            </div>
        </div>
    </div>

    <div class="filler" id ="borderBottom"></div>
    <div class="filler"></div>
    <div class ="featureProductsHeading" >
        shop by collection
    </div>

    <div class="filler"></div>

    <div class="bannerThird">
        <div class = "section">
            <div class="firstSection">
                <div class = "textHover">
                    <a href="{% url 'sec-view' 'Rug Collection' %}">  <div class = "textHeading"> shop this collection </div></a>

                </div>
            </div>
            <div></div>
            <div class="secondSection">
                <div class = "textHover">

                    <a href="{% url 'sec-view' 'Pot Collection' %}">  <div class = "textHeading"> shop this collection </div></a>
                </div>
            </div>
        </div>
        
    </div>

    <div class="filler"></div>

    <footer>
        <div class = "hoursOfOperation">
            <h1>
                Monday - Friday: 7AM - 8PM
            </h1>
            <h1>
                Phone: 1 (347) 974-7200
            </h1>
            <h1>
                Address: 218 8th Avenue, New York, NY 10011, USA
            </h1>
            <h1>
                Questions? please email us at raul@raulavilainc.com
            </h1>
            <h1>
                Social Media :
            </h1>
        </div>

    </footer>

    <button onclick="topFunction()" id="scrollTop"> <img src="{% static 'Raul/Images/arrowDown.png' %}"> </button>

    <script src="{% static 'Raul/JS/script.js' %}" charset="UTF-8">

    </script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>
    

</body>

</html>