<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>
        Raul Retail
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'Raul/CSS/landingCSS.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>

    <div class = "initialBack"></div>

    <div class="placeContainers">
        <div class="bigContainer">
            <a href="{% url 'Raul_Inc_Home' %}">
                <div class="container" id="cafeBanners">
                    <p id ="raulAvila">RAÚL ÀVILA INC.</p>
                    <div class = "backgroundText3">
                        <figcaption>
                            RAUL AVILA
                        </figcaption>
                    </div>
                </div>
            </a>
        </div>
        <div class ="bigContainer2">
            <a href="{% url 'Raul-SecondHome' %}">
                <div class="container" id="raulBanner">
                    <p id ="raul"> raúl </p>
                    <div class="backgroundText2">
                        <figcaption>
                            RAUL
                        </figcaption>
                    </div>
                </div>
            </a>
            <a href="{% url 'Raul_Inc_cafe' %}">
                <div class="container" id="cafeBanner">
                    <p id= "cafe">café-flor</p>
                    <div class="backgroundText">
                        <figcaption>
                            CAFE FLOR
                        </figcaption>
                    </div>
                </div>
            </a>
           
        </div>
    </div>


</body>
</html>