{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Raul Retail
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'Raul/landingCSS.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
    <a href="#">
        <div class="container">
            <p id= "cafe"><img src="{% static 'Raul/Images/cafe.png' %}" alt="logo"></p>
            <video src="{% static 'Raul/Images/.flor.mp4.icloud' %}" autoplay muted loop></video>
        </div>
    </a>
    <a href="{% url 'Raul-Home' %}">
        <div class="container">
            <p id ="raul"><img src="{% static 'Raul/Images/raullogo.png' %}" alt="logo"></p>
            <video src="{% static 'Raul/Images/.raul.mp4.icloud' %}" autoplay muted loop></video>
        </div>
    </a>
    <a href="#">
        <div class="container">
            <p id="third">F O <br>   U   R</p>
            <video src="{% static 'Raul/Images/.third.mp4.icloud' %}" autoplay muted loop></video>
        </div>
    </a>
</body>
</html>