<!--
{% extends "Raul/base.html" %}
-->
<!--{% block content %}
{% load crispy_forms_tags %}-->




<figure>
    {% if user.is_authenticated %}
    <a href="{% url 'Raul-SecondHome' %}"><p> Home </p></a>
    <a href="{% url 'Raul-product' %}"><p> Store </p></a>
    <!--        <a href="{% url 'register' %}"><p> Register </p></a>-->
    <a href="{% url 'logout' %}"> <p>Logout </p></a>
    <a href="{% url 'cart' %}"> <p>Cart </p></a>


    {% else %}
    <a href="{% url 'Raul-SecondHome' %}"><p> Home </p></a>
    <a href="{% url 'Raul-product' %}"><p> Store </p></a>
    <a href="{% url 'register' %}"><p> Register </p></a>
    <a href="{% url 'login' %}"> <p>Login </p></a>
    <a href="{% url 'cart' %}"> <p>Cart </p></a>


    {% endif %}


    <div class ="loginSlide" id="login">
        <div class="loginText">
            <p>L O G I N</p>
            <input type="email" placeholder="Email ID">
            <input type="password" placeholder="Password">
            <input type="submit" placeholder="Login">
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember Me
            </label>
            <a>Forgot Password?</a>
        </div>
        <div class ="arrow">
        </div>
        <div class="signUp">
            <p> S I G N - U P </p>
            <input type="email" placeholder="Email ID">
            <input type="password" placeholder="Password">
            <input type="submit" placeholder="Login">
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember Me
            </label>
            <a>Forgot Password?</a>
        </div>
    </div>

    <!--
            <a href ="#"><p> Cart </p></a>
    -->
</figure>

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" href="{% url 'Raul-SecondHome' %}" type="submit">Login</button>
            <small class="text-muted ml-2">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </small>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </small>
    </div>
</div>
<!--{% endblock %}-->