{% extends "Raul/base.html" %}
{% block content %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
<body>
<div class="logining">
    <h1>{{user.username}}</h1>
    <h1>{{user.email}}</h1>
    {% for order in orders %}
    {{ user.order }}
    {% endfor %}

    {% for userAdd in userAddress %}
    {{ userAdd.address}}
    {{ userAdd.address2}}
    {% endfor %}
    <div>
        {% for billing in billing_address %}
        {{ billing }}
        {% endfor %}
    </div>
    <li>
        {%  for myorder in UserOrders %}
        {% for item in myorder.cart.cartitem_set.all %}
        <div>
            {{ item.product }}

            {{ item.quantity}}
            {{item.product.price }}
        </div>
        {% endfor %}
        {% endfor %}
    </li>




</div>
</body>
</html>



{% endblock %}

