/* Basic Styling */
@font-face {
    font-family: myFirstFont;
    src: url(avenir-lt-std-35-light.otf);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: myFirstFont
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;

}

/* Columns */
.left-column {
    width: 65%;
    position: relative;
}

.right-column {
    width: 35%;
    margin-top: 60px;
}